config/dotfiles/files/zsh/plugins/
config/spicetify/Backup/
config/spicetify/config-xpui.ini
config/spicetify/CustomApps/
config/spicetify/Extensions/
config/spicetify/Extracted/
config/mpd/mpd.db
config/mpd/mpd.log
config/mpd/mpd.pid
config/mpd/mpdstate
config/mpv/scripts/
config/neofetch/ascii/
config/ncmpcpp/error.log
config/neomutt/accounts/main.muttrc
config/neomutt/accounts/school.muttrc
node_modules/
tags
backup-configuration/
