aspects/dotfiles/files/.config/git/credentials filter=git-crypt diff=git-crypt
aspects/dotfiles/files/.local/share/autojump/* filter=git-crypt diff=git-crypt
aspects/dotfiles/files/.local/share/lf/* filter=git-crypt diff=git-crypt
aspects/dotfiles/files/.local/share/sioyek/* filter=git-crypt diff=git-crypt
aspects/dotfiles/files/.local/share/castero/* filter=git-crypt diff=git-crypt
aspects/dotfiles/files/.local/share/newsboat/* filter=git-crypt diff=git-crypt
aspects/dotfiles/files/.local/share/zathura/* filter=git-crypt diff=git-crypt
man/templates/personal/.config/gh/hosts.yml/oauth_token.template filter=git-crypt diff=git-crypt
man/templates/personal/.config/git/config/user.template filter=git-crypt diff=git-crypt
man/templates/personal/.config/nvim/personal/emails.json/emails.template filter=git-crypt diff=git-crypt
