[submodule "chameleon"]
	path = third-party-tools/chameleon
	url = https://github.com/SingularisArt/Chameleon
[submodule "wallpapers"]
	path = media/wallpapers
	url = https://github.com/SingularisArt/wallpapers
[submodule "instant-reference"]
	path = third-party-tools/instant-reference
	url = https://github.com/SingularisArt/instant-reference
[submodule "start-tree"]
	path = third-party-tools/start-tree
	url = https://github.com/SingularisArt/start-tree
[submodule "gnuplot-pywal"]
	path = third-party-tools/gnuplot-pywal
	url = https://github.com/GideonWolfe/Gnuplot-Pywal
[submodule "UltiSnips"]
	path = aspects/nvim/UltiSnips
	url = https://github.com/SingularisArt/snippets
[submodule "UltiSnips-dependencies"]
	path = aspects/nvim/pythonx
	url = https://github.com/SingularisArt/snippet-dependencies
