aspects/dotfiles/files/.config/git/credentials filter=git-crypt diff=git-crypt

aspects/email/files/.config/mbsync/mbsyncrc filter=git-crypt diff=git-crypt
aspects/email/files/.config/msmtp/config filter=git-crypt diff=git-crypt
aspects/email/files/.config/notmuch/config filter=git-crypt diff=git-crypt

man/templates/personal/** filter=git-crypt diff=git-crypt
aspects/dotfiles/files/.local/share/** filter=git-crypt diff=git-crypt
