[Unit]
Description=Check battery status every few minutes to warn the user in case of low battery
Requires=alert-battery.service

[Timer]
OnBootSec=1m
OnUnitActiveSec=10m
Persistent=true

[Install]
WantedBy=timers.target
