[Unit]
Description=Desktop alert warning of low remaining battery

[Service]
ExecStart=/home/hashem/.local/bin/systemd/alert-battery
Environment="HOME=/home/hashem"

[Install]
WantedBy=default.target
