[Unit]
Description=Mail sync

[Service]
ExecStart=/home/singularis/.local/bin/systemd/mailsync
Environment="HOME=/home/singularis"

[Install]
WantedBy=default.target
