[Unit]
Description=Sync mail via isync for neomutt

[Service]
ExecStart=/home/hashem/.local/bin/systemd/mailsync
Environment="HOME=/home/hashem"

[Install]
WantedBy=default.target
