[Unit]
Description=Update newsboat

[Service]
ExecStart=/home/singularisart/.local/bin/systemd/newsup
; Environment="HOME=/home/singularisart"

[Install]
WantedBy=default.target
