[Unit]
Description=Update newsboat

[Service]
ExecStart=/home/hashem/.local/bin/systemd/newsup
Environment="HOME=/home/hashem"

[Install]
WantedBy=default.target
