[Unit]
Description=Update newsboat

[Service]
ExecStart=/home/singularis/.local/bin/systemd/newsup
Environment="HOME=/home/singularis"

[Install]
WantedBy=default.target
