files/.config/zsh/.chpwd-recent-dirs
files/.config/zsh/.base16
files/.config/zsh/history
files/.config/zsh/.zcompdump*
files/.config/zsh/third-party/

files/.config/tmux/tmux.digests
files/.config/tmux/plugins/

files/.config/spicetify/Backup/
files/.config/spicetify/config-xpui.ini
files/.config/spicetify/CustomApps/
files/.config/spicetify/Extensions/
files/.config/spicetify/Extracted/

files/.config/mpd/mpd.db
files/.config/mpd/mpd.log
files/.config/mpd/mpd.pid
files/.config/mpd/mpdstate

files/.config/git/config
files/.config/git/credentials

files/.config/onedrive/*
!files/.config/onedrive/account-6/config.temp
!files/.config/onedrive/account-7/config.temp

aspects/dotfiles/files/.config/gh/hosts.yml
