global !p

from latex_.scopes import math

endglobal

#######################################################################
#                                                                     #
#                               Spacing                               #
#                                                                     #
#######################################################################


# qd -> \qquad
context "math()"
snippet qd "Space" Ai
\qquad
endsnippet
