# Base16 Dracula
# Author: Mike Barkmin (http://github.com/mikebarkmin) based on Dracula Theme (http://github.com/dracula)

set default-bg                  "#282936"
set default-fg                  "#3a3c4e"

set statusbar-fg                "#62d6e8"
set statusbar-bg                "#4d4f68"

set inputbar-bg                 "#282936"
set inputbar-fg                 "#f7f7fb"

set notification-bg             "#282936"
set notification-fg             "#f7f7fb"

set notification-error-bg       "#282936"
set notification-error-fg       "#ea51b2"

set notification-warning-bg     "#282936"
set notification-warning-fg     "#ea51b2"

set highlight-color             "#00f769"
set highlight-active-color      "#62d6e8"

set completion-bg               "#3a3c4e"
set completion-fg               "#62d6e8"

set completion-highlight-fg     "#f7f7fb"
set completion-highlight-bg     "#62d6e8"

set recolor-lightcolor          "#282936"
set recolor-darkcolor           "#f1f2f8"

set recolor                     "false"
set recolor-keephue             "false"
