# Base16 Mocha
# Author: Chris Kempson (http://chriskempson.com)

set default-bg                  "#3B3228"
set default-fg                  "#534636"

set statusbar-fg                "#b8afad"
set statusbar-bg                "#645240"

set inputbar-bg                 "#3B3228"
set inputbar-fg                 "#f5eeeb"

set notification-bg             "#3B3228"
set notification-fg             "#f5eeeb"

set notification-error-bg       "#3B3228"
set notification-error-fg       "#cb6077"

set notification-warning-bg     "#3B3228"
set notification-warning-fg     "#cb6077"

set highlight-color             "#f4bc87"
set highlight-active-color      "#8ab3b5"

set completion-bg               "#534636"
set completion-fg               "#8ab3b5"

set completion-highlight-fg     "#f5eeeb"
set completion-highlight-bg     "#8ab3b5"

set recolor-lightcolor          "#3B3228"
set recolor-darkcolor           "#e9e1dd"

set recolor                     "false"
set recolor-keephue             "false"
