# Base16 Atelier Seaside
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#131513"
set default-fg                  "#242924"

set statusbar-fg                "#809980"
set statusbar-bg                "#5e6e5e"

set inputbar-bg                 "#131513"
set inputbar-fg                 "#f4fbf4"

set notification-bg             "#131513"
set notification-fg             "#f4fbf4"

set notification-error-bg       "#131513"
set notification-error-fg       "#e6193c"

set notification-warning-bg     "#131513"
set notification-warning-fg     "#e6193c"

set highlight-color             "#98981b"
set highlight-active-color      "#3d62f5"

set completion-bg               "#242924"
set completion-fg               "#3d62f5"

set completion-highlight-fg     "#f4fbf4"
set completion-highlight-bg     "#3d62f5"

set recolor-lightcolor          "#131513"
set recolor-darkcolor           "#cfe8cf"

set recolor                     "false"
set recolor-keephue             "false"
