# Base16 Chalk
# Author: Chris Kempson (http://chriskempson.com)

set default-bg                  "#151515"
set default-fg                  "#202020"

set statusbar-fg                "#b0b0b0"
set statusbar-bg                "#303030"

set inputbar-bg                 "#151515"
set inputbar-fg                 "#f5f5f5"

set notification-bg             "#151515"
set notification-fg             "#f5f5f5"

set notification-error-bg       "#151515"
set notification-error-fg       "#fb9fb1"

set notification-warning-bg     "#151515"
set notification-warning-fg     "#fb9fb1"

set highlight-color             "#ddb26f"
set highlight-active-color      "#6fc2ef"

set completion-bg               "#202020"
set completion-fg               "#6fc2ef"

set completion-highlight-fg     "#f5f5f5"
set completion-highlight-bg     "#6fc2ef"

set recolor-lightcolor          "#151515"
set recolor-darkcolor           "#e0e0e0"

set recolor                     "false"
set recolor-keephue             "false"
