# Base16 Materia
# Author: Defman21

set default-bg                  "#263238"
set default-fg                  "#2C393F"

set statusbar-fg                "#C9CCD3"
set statusbar-bg                "#37474F"

set inputbar-bg                 "#263238"
set inputbar-fg                 "#FFFFFF"

set notification-bg             "#263238"
set notification-fg             "#FFFFFF"

set notification-error-bg       "#263238"
set notification-error-fg       "#EC5F67"

set notification-warning-bg     "#263238"
set notification-warning-fg     "#EC5F67"

set highlight-color             "#FFCC00"
set highlight-active-color      "#89DDFF"

set completion-bg               "#2C393F"
set completion-fg               "#89DDFF"

set completion-highlight-fg     "#FFFFFF"
set completion-highlight-bg     "#89DDFF"

set recolor-lightcolor          "#263238"
set recolor-darkcolor           "#D5DBE5"

set recolor                     "false"
set recolor-keephue             "false"
