# Base16 dirtysea
# Author: Kahlil (Kal) Hodgson

set default-bg                  "#e0e0e0"
set default-fg                  "#d0dad0"

set statusbar-fg                "#202020"
set statusbar-bg                "#d0d0d0"

set inputbar-bg                 "#e0e0e0"
set inputbar-fg                 "#c4d9c4"

set notification-bg             "#e0e0e0"
set notification-fg             "#c4d9c4"

set notification-error-bg       "#e0e0e0"
set notification-error-fg       "#840000"

set notification-warning-bg     "#e0e0e0"
set notification-warning-fg     "#840000"

set highlight-color             "#755B00"
set highlight-active-color      "#007300"

set completion-bg               "#d0dad0"
set completion-fg               "#007300"

set completion-highlight-fg     "#c4d9c4"
set completion-highlight-bg     "#007300"

set recolor-lightcolor          "#e0e0e0"
set recolor-darkcolor           "#f8f8f8"

set recolor                     "false"
set recolor-keephue             "false"
