# Base16 Material
# Author: Nate Peterson

set default-bg                  "#263238"
set default-fg                  "#2E3C43"

set statusbar-fg                "#B2CCD6"
set statusbar-bg                "#314549"

set inputbar-bg                 "#263238"
set inputbar-fg                 "#FFFFFF"

set notification-bg             "#263238"
set notification-fg             "#FFFFFF"

set notification-error-bg       "#263238"
set notification-error-fg       "#F07178"

set notification-warning-bg     "#263238"
set notification-warning-fg     "#F07178"

set highlight-color             "#FFCB6B"
set highlight-active-color      "#82AAFF"

set completion-bg               "#2E3C43"
set completion-fg               "#82AAFF"

set completion-highlight-fg     "#FFFFFF"
set completion-highlight-bg     "#82AAFF"

set recolor-lightcolor          "#263238"
set recolor-darkcolor           "#EEFFFF"

set recolor                     "false"
set recolor-keephue             "false"
