# Base16 Dark Violet
# Author: ruler501 (https://github.com/ruler501/base16-darkviolet)

set default-bg                  "#000000"
set default-fg                  "#231a40"

set statusbar-fg                "#00ff00"
set statusbar-bg                "#432d59"

set inputbar-bg                 "#000000"
set inputbar-fg                 "#a366ff"

set notification-bg             "#000000"
set notification-fg             "#a366ff"

set notification-error-bg       "#000000"
set notification-error-fg       "#a82ee6"

set notification-warning-bg     "#000000"
set notification-warning-fg     "#a82ee6"

set highlight-color             "#f29df2"
set highlight-active-color      "#4136d9"

set completion-bg               "#231a40"
set completion-fg               "#4136d9"

set completion-highlight-fg     "#a366ff"
set completion-highlight-bg     "#4136d9"

set recolor-lightcolor          "#000000"
set recolor-darkcolor           "#9045e6"

set recolor                     "false"
set recolor-keephue             "false"
