# Base16 Atelier Plateau Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#f4ecec"
set default-fg                  "#e7dfdf"

set statusbar-fg                "#655d5d"
set statusbar-bg                "#8a8585"

set inputbar-bg                 "#f4ecec"
set inputbar-fg                 "#1b1818"

set notification-bg             "#f4ecec"
set notification-fg             "#1b1818"

set notification-error-bg       "#f4ecec"
set notification-error-fg       "#ca4949"

set notification-warning-bg     "#f4ecec"
set notification-warning-fg     "#ca4949"

set highlight-color             "#a06e3b"
set highlight-active-color      "#7272ca"

set completion-bg               "#e7dfdf"
set completion-fg               "#7272ca"

set completion-highlight-fg     "#1b1818"
set completion-highlight-bg     "#7272ca"

set recolor-lightcolor          "#f4ecec"
set recolor-darkcolor           "#292424"

set recolor                     "false"
set recolor-keephue             "false"
