# Base16 Hardcore
# Author: Chris Caller

set default-bg                  "#212121"
set default-fg                  "#303030"

set statusbar-fg                "#707070"
set statusbar-bg                "#353535"

set inputbar-bg                 "#212121"
set inputbar-fg                 "#ffffff"

set notification-bg             "#212121"
set notification-fg             "#ffffff"

set notification-error-bg       "#212121"
set notification-error-fg       "#f92672"

set notification-warning-bg     "#212121"
set notification-warning-fg     "#f92672"

set highlight-color             "#e6db74"
set highlight-active-color      "#66d9ef"

set completion-bg               "#303030"
set completion-fg               "#66d9ef"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#66d9ef"

set recolor-lightcolor          "#212121"
set recolor-darkcolor           "#e5e5e5"

set recolor                     "false"
set recolor-keephue             "false"
