# Base16 Flat
# Author: Chris Kempson (http://chriskempson.com)

set default-bg                  "#2C3E50"
set default-fg                  "#34495E"

set statusbar-fg                "#BDC3C7"
set statusbar-bg                "#7F8C8D"

set inputbar-bg                 "#2C3E50"
set inputbar-fg                 "#ECF0F1"

set notification-bg             "#2C3E50"
set notification-fg             "#ECF0F1"

set notification-error-bg       "#2C3E50"
set notification-error-fg       "#E74C3C"

set notification-warning-bg     "#2C3E50"
set notification-warning-fg     "#E74C3C"

set highlight-color             "#F1C40F"
set highlight-active-color      "#3498DB"

set completion-bg               "#34495E"
set completion-fg               "#3498DB"

set completion-highlight-fg     "#ECF0F1"
set completion-highlight-bg     "#3498DB"

set recolor-lightcolor          "#2C3E50"
set recolor-darkcolor           "#f5f5f5"

set recolor                     "false"
set recolor-keephue             "false"
