# Base16 Black Metal (Venom)
# Author: metalelf0 (https://github.com/metalelf0)

set default-bg                  "#000000"
set default-fg                  "#121212"

set statusbar-fg                "#999999"
set statusbar-bg                "#222222"

set inputbar-bg                 "#000000"
set inputbar-fg                 "#c1c1c1"

set notification-bg             "#000000"
set notification-fg             "#c1c1c1"

set notification-error-bg       "#000000"
set notification-error-fg       "#5f8787"

set notification-warning-bg     "#000000"
set notification-warning-fg     "#5f8787"

set highlight-color             "#79241f"
set highlight-active-color      "#888888"

set completion-bg               "#121212"
set completion-fg               "#888888"

set completion-highlight-fg     "#c1c1c1"
set completion-highlight-bg     "#888888"

set recolor-lightcolor          "#000000"
set recolor-darkcolor           "#999999"

set recolor                     "false"
set recolor-keephue             "false"
