# Base16 Silk Light
# Author: Gabriel Fontes (https://github.com/Misterio77)

set default-bg                  "#E9F1EF"
set default-fg                  "#CCD4D3"

set statusbar-fg                "#4B5B5F"
set statusbar-bg                "#90B7B6"

set inputbar-bg                 "#E9F1EF"
set inputbar-fg                 "#D2FAFF"

set notification-bg             "#E9F1EF"
set notification-fg             "#D2FAFF"

set notification-error-bg       "#E9F1EF"
set notification-error-fg       "#CF432E"

set notification-warning-bg     "#E9F1EF"
set notification-warning-fg     "#CF432E"

set highlight-color             "#CFAD25"
set highlight-active-color      "#39AAC9"

set completion-bg               "#CCD4D3"
set completion-fg               "#39AAC9"

set completion-highlight-fg     "#D2FAFF"
set completion-highlight-bg     "#39AAC9"

set recolor-lightcolor          "#E9F1EF"
set recolor-darkcolor           "#0e3c46"

set recolor                     "false"
set recolor-keephue             "false"
