# Base16 Framer
# Author: Framer (Maintained by Jesse Hoyos)

set default-bg                  "#181818"
set default-fg                  "#151515"

set statusbar-fg                "#B9B9B9"
set statusbar-bg                "#464646"

set inputbar-bg                 "#181818"
set inputbar-fg                 "#EEEEEE"

set notification-bg             "#181818"
set notification-fg             "#EEEEEE"

set notification-error-bg       "#181818"
set notification-error-fg       "#FD886B"

set notification-warning-bg     "#181818"
set notification-warning-fg     "#FD886B"

set highlight-color             "#FECB6E"
set highlight-active-color      "#20BCFC"

set completion-bg               "#151515"
set completion-fg               "#20BCFC"

set completion-highlight-fg     "#EEEEEE"
set completion-highlight-bg     "#20BCFC"

set recolor-lightcolor          "#181818"
set recolor-darkcolor           "#E8E8E8"

set recolor                     "false"
set recolor-keephue             "false"
