# Base16 Brush Trees Dark
# Author: Abraham White &lt;abelincoln.white@gmail.com&gt;

set default-bg                  "#485867"
set default-fg                  "#5A6D7A"

set statusbar-fg                "#98AFB5"
set statusbar-bg                "#6D828E"

set inputbar-bg                 "#485867"
set inputbar-fg                 "#E3EFEF"

set notification-bg             "#485867"
set notification-fg             "#E3EFEF"

set notification-error-bg       "#485867"
set notification-error-fg       "#b38686"

set notification-warning-bg     "#485867"
set notification-warning-fg     "#b38686"

set highlight-color             "#aab386"
set highlight-active-color      "#868cb3"

set completion-bg               "#5A6D7A"
set completion-fg               "#868cb3"

set completion-highlight-fg     "#E3EFEF"
set completion-highlight-bg     "#868cb3"

set recolor-lightcolor          "#485867"
set recolor-darkcolor           "#C9DBDC"

set recolor                     "false"
set recolor-keephue             "false"
