# Base16 Atelier Heath Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#f7f3f7"
set default-fg                  "#d8cad8"

set statusbar-fg                "#776977"
set statusbar-bg                "#ab9bab"

set inputbar-bg                 "#f7f3f7"
set inputbar-fg                 "#1b181b"

set notification-bg             "#f7f3f7"
set notification-fg             "#1b181b"

set notification-error-bg       "#f7f3f7"
set notification-error-fg       "#ca402b"

set notification-warning-bg     "#f7f3f7"
set notification-warning-fg     "#ca402b"

set highlight-color             "#bb8a35"
set highlight-active-color      "#516aec"

set completion-bg               "#d8cad8"
set completion-fg               "#516aec"

set completion-highlight-fg     "#1b181b"
set completion-highlight-bg     "#516aec"

set recolor-lightcolor          "#f7f3f7"
set recolor-darkcolor           "#292329"

set recolor                     "false"
set recolor-keephue             "false"
