# Base16 Outrun Dark
# Author: Hugo Delahousse (http://github.com/hugodelahousse/)

set default-bg                  "#00002A"
set default-fg                  "#20204A"

set statusbar-fg                "#B0B0DA"
set statusbar-bg                "#30305A"

set inputbar-bg                 "#00002A"
set inputbar-fg                 "#F5F5FF"

set notification-bg             "#00002A"
set notification-fg             "#F5F5FF"

set notification-error-bg       "#00002A"
set notification-error-fg       "#FF4242"

set notification-warning-bg     "#00002A"
set notification-warning-fg     "#FF4242"

set highlight-color             "#F3E877"
set highlight-active-color      "#66B0FF"

set completion-bg               "#20204A"
set completion-fg               "#66B0FF"

set completion-highlight-fg     "#F5F5FF"
set completion-highlight-bg     "#66B0FF"

set recolor-lightcolor          "#00002A"
set recolor-darkcolor           "#E0E0FF"

set recolor                     "false"
set recolor-keephue             "false"
