# Base16 Darcula
# Author: jetbrains

set default-bg                  "#2b2b2b"
set default-fg                  "#323232"

set statusbar-fg                "#a4a3a3"
set statusbar-bg                "#323232"

set inputbar-bg                 "#2b2b2b"
set inputbar-fg                 "#ffffff"

set notification-bg             "#2b2b2b"
set notification-fg             "#ffffff"

set notification-error-bg       "#2b2b2b"
set notification-error-fg       "#4eade5"

set notification-warning-bg     "#2b2b2b"
set notification-warning-fg     "#4eade5"

set highlight-color             "#bbb529"
set highlight-active-color      "#9876aa"

set completion-bg               "#323232"
set completion-fg               "#9876aa"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#9876aa"

set recolor-lightcolor          "#2b2b2b"
set recolor-darkcolor           "#ffc66d"

set recolor                     "false"
set recolor-keephue             "false"
