# Base16 Summerfruit Light
# Author: Christopher Corley (http://christop.club/)

set default-bg                  "#FFFFFF"
set default-fg                  "#E0E0E0"

set statusbar-fg                "#000000"
set statusbar-bg                "#D0D0D0"

set inputbar-bg                 "#FFFFFF"
set inputbar-fg                 "#202020"

set notification-bg             "#FFFFFF"
set notification-fg             "#202020"

set notification-error-bg       "#FFFFFF"
set notification-error-fg       "#FF0086"

set notification-warning-bg     "#FFFFFF"
set notification-warning-fg     "#FF0086"

set highlight-color             "#ABA800"
set highlight-active-color      "#3777E6"

set completion-bg               "#E0E0E0"
set completion-fg               "#3777E6"

set completion-highlight-fg     "#202020"
set completion-highlight-bg     "#3777E6"

set recolor-lightcolor          "#FFFFFF"
set recolor-darkcolor           "#151515"

set recolor                     "false"
set recolor-keephue             "false"
