# Base16 Kimber
# Author: Mishka Nguyen (https://github.com/akhsiM)

set default-bg                  "#222222"
set default-fg                  "#313131"

set statusbar-fg                "#5A5A5A"
set statusbar-bg                "#555D55"

set inputbar-bg                 "#222222"
set inputbar-fg                 "#FFFFE6"

set notification-bg             "#222222"
set notification-fg             "#FFFFE6"

set notification-error-bg       "#222222"
set notification-error-fg       "#C88C8C"

set notification-warning-bg     "#222222"
set notification-warning-fg     "#C88C8C"

set highlight-color             "#D8B56D"
set highlight-active-color      "#537C9C"

set completion-bg               "#313131"
set completion-fg               "#537C9C"

set completion-highlight-fg     "#FFFFE6"
set completion-highlight-bg     "#537C9C"

set recolor-lightcolor          "#222222"
set recolor-darkcolor           "#C3C3B4"

set recolor                     "false"
set recolor-keephue             "false"
