# Base16 Pop
# Author: Chris Kempson (http://chriskempson.com)

set default-bg                  "#000000"
set default-fg                  "#202020"

set statusbar-fg                "#b0b0b0"
set statusbar-bg                "#303030"

set inputbar-bg                 "#000000"
set inputbar-fg                 "#ffffff"

set notification-bg             "#000000"
set notification-fg             "#ffffff"

set notification-error-bg       "#000000"
set notification-error-fg       "#eb008a"

set notification-warning-bg     "#000000"
set notification-warning-fg     "#eb008a"

set highlight-color             "#f8ca12"
set highlight-active-color      "#0e5a94"

set completion-bg               "#202020"
set completion-fg               "#0e5a94"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#0e5a94"

set recolor-lightcolor          "#000000"
set recolor-darkcolor           "#e0e0e0"

set recolor                     "false"
set recolor-keephue             "false"
