# Base16 summercamp
# Author: zoe firi (zoefiri.github.io)

set default-bg                  "#1c1810"
set default-fg                  "#2a261c"

set statusbar-fg                "#5f5b45"
set statusbar-bg                "#3a3527"

set inputbar-bg                 "#1c1810"
set inputbar-fg                 "#f8f5de"

set notification-bg             "#1c1810"
set notification-fg             "#f8f5de"

set notification-error-bg       "#1c1810"
set notification-error-fg       "#e35142"

set notification-warning-bg     "#1c1810"
set notification-warning-fg     "#e35142"

set highlight-color             "#f2ff27"
set highlight-active-color      "#489bf0"

set completion-bg               "#2a261c"
set completion-fg               "#489bf0"

set completion-highlight-fg     "#f8f5de"
set completion-highlight-bg     "#489bf0"

set recolor-lightcolor          "#1c1810"
set recolor-darkcolor           "#bab696"

set recolor                     "false"
set recolor-keephue             "false"
