# Base16 Unikitty Dark
# Author: Josh W Lewis (@joshwlewis)

set default-bg                  "#2e2a31"
set default-fg                  "#4a464d"

set statusbar-fg                "#9f9da2"
set statusbar-bg                "#666369"

set inputbar-bg                 "#2e2a31"
set inputbar-fg                 "#f5f4f7"

set notification-bg             "#2e2a31"
set notification-fg             "#f5f4f7"

set notification-error-bg       "#2e2a31"
set notification-error-fg       "#d8137f"

set notification-warning-bg     "#2e2a31"
set notification-warning-fg     "#d8137f"

set highlight-color             "#dc8a0e"
set highlight-active-color      "#796af5"

set completion-bg               "#4a464d"
set completion-fg               "#796af5"

set completion-highlight-fg     "#f5f4f7"
set completion-highlight-bg     "#796af5"

set recolor-lightcolor          "#2e2a31"
set recolor-darkcolor           "#d8d7da"

set recolor                     "false"
set recolor-keephue             "false"
