# Base16 Edge Light
# Author: cjayross (https://github.com/cjayross)

set default-bg                  "#fafafa"
set default-fg                  "#7c9f4b"

set statusbar-fg                "#6587bf"
set statusbar-bg                "#d69822"

set inputbar-bg                 "#fafafa"
set inputbar-fg                 "#5e646f"

set notification-bg             "#fafafa"
set notification-fg             "#5e646f"

set notification-error-bg       "#fafafa"
set notification-error-fg       "#db7070"

set notification-warning-bg     "#fafafa"
set notification-warning-fg     "#db7070"

set highlight-color             "#d69822"
set highlight-active-color      "#6587bf"

set completion-bg               "#7c9f4b"
set completion-fg               "#6587bf"

set completion-highlight-fg     "#5e646f"
set completion-highlight-bg     "#6587bf"

set recolor-lightcolor          "#fafafa"
set recolor-darkcolor           "#b870ce"

set recolor                     "false"
set recolor-keephue             "false"
