# Base16 pinky
# Author: Benjamin (https://github.com/b3nj5m1n)

set default-bg                  "#171517"
set default-fg                  "#1b181b"

set statusbar-fg                "#e7dbdb"
set statusbar-bg                "#1d1b1d"

set inputbar-bg                 "#171517"
set inputbar-fg                 "#f7f3f7"

set notification-bg             "#171517"
set notification-fg             "#f7f3f7"

set notification-error-bg       "#171517"
set notification-error-fg       "#ffa600"

set notification-warning-bg     "#171517"
set notification-warning-fg     "#ffa600"

set highlight-color             "#20df6c"
set highlight-active-color      "#00ffff"

set completion-bg               "#1b181b"
set completion-fg               "#00ffff"

set completion-highlight-fg     "#f7f3f7"
set completion-highlight-bg     "#00ffff"

set recolor-lightcolor          "#171517"
set recolor-darkcolor           "#ffffff"

set recolor                     "false"
set recolor-keephue             "false"
