# Base16 Sakura
# Author: Misterio77 (http://github.com/Misterio77)

set default-bg                  "#feedf3"
set default-fg                  "#f8e2e7"

set statusbar-fg                "#665055"
set statusbar-bg                "#e0ccd1"

set inputbar-bg                 "#feedf3"
set inputbar-fg                 "#33292b"

set notification-bg             "#feedf3"
set notification-fg             "#33292b"

set notification-error-bg       "#feedf3"
set notification-error-fg       "#df2d52"

set notification-warning-bg     "#feedf3"
set notification-warning-fg     "#df2d52"

set highlight-color             "#c29461"
set highlight-active-color      "#006e93"

set completion-bg               "#f8e2e7"
set completion-fg               "#006e93"

set completion-highlight-fg     "#33292b"
set completion-highlight-bg     "#006e93"

set recolor-lightcolor          "#feedf3"
set recolor-darkcolor           "#42383a"

set recolor                     "false"
set recolor-keephue             "false"
