# Base16 Atelier Estuary Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#f4f3ec"
set default-fg                  "#e7e6df"

set statusbar-fg                "#6c6b5a"
set statusbar-bg                "#929181"

set inputbar-bg                 "#f4f3ec"
set inputbar-fg                 "#22221b"

set notification-bg             "#f4f3ec"
set notification-fg             "#22221b"

set notification-error-bg       "#f4f3ec"
set notification-error-fg       "#ba6236"

set notification-warning-bg     "#f4f3ec"
set notification-warning-fg     "#ba6236"

set highlight-color             "#a5980d"
set highlight-active-color      "#36a166"

set completion-bg               "#e7e6df"
set completion-fg               "#36a166"

set completion-highlight-fg     "#22221b"
set completion-highlight-bg     "#36a166"

set recolor-lightcolor          "#f4f3ec"
set recolor-darkcolor           "#302f27"

set recolor                     "false"
set recolor-keephue             "false"
