# Base16 IR Black
# Author: Timothée Poisot (http://timotheepoisot.fr)

set default-bg                  "#000000"
set default-fg                  "#242422"

set statusbar-fg                "#918f88"
set statusbar-bg                "#484844"

set inputbar-bg                 "#000000"
set inputbar-fg                 "#fdfbee"

set notification-bg             "#000000"
set notification-fg             "#fdfbee"

set notification-error-bg       "#000000"
set notification-error-fg       "#ff6c60"

set notification-warning-bg     "#000000"
set notification-warning-fg     "#ff6c60"

set highlight-color             "#ffffb6"
set highlight-active-color      "#96cbfe"

set completion-bg               "#242422"
set completion-fg               "#96cbfe"

set completion-highlight-fg     "#fdfbee"
set completion-highlight-bg     "#96cbfe"

set recolor-lightcolor          "#000000"
set recolor-darkcolor           "#d9d7cc"

set recolor                     "false"
set recolor-keephue             "false"
