# Base16 Shapeshifter
# Author: Tyler Benziger (http://tybenz.com)

set default-bg                  "#f9f9f9"
set default-fg                  "#e0e0e0"

set statusbar-fg                "#343434"
set statusbar-bg                "#ababab"

set inputbar-bg                 "#f9f9f9"
set inputbar-fg                 "#000000"

set notification-bg             "#f9f9f9"
set notification-fg             "#000000"

set notification-error-bg       "#f9f9f9"
set notification-error-fg       "#e92f2f"

set notification-warning-bg     "#f9f9f9"
set notification-warning-fg     "#e92f2f"

set highlight-color             "#dddd13"
set highlight-active-color      "#3b48e3"

set completion-bg               "#e0e0e0"
set completion-fg               "#3b48e3"

set completion-highlight-fg     "#000000"
set completion-highlight-bg     "#3b48e3"

set recolor-lightcolor          "#f9f9f9"
set recolor-darkcolor           "#040404"

set recolor                     "false"
set recolor-keephue             "false"
