# Base16 Paraiso
# Author: Jan T. Sott

set default-bg                  "#2f1e2e"
set default-fg                  "#41323f"

set statusbar-fg                "#8d8687"
set statusbar-bg                "#4f424c"

set inputbar-bg                 "#2f1e2e"
set inputbar-fg                 "#e7e9db"

set notification-bg             "#2f1e2e"
set notification-fg             "#e7e9db"

set notification-error-bg       "#2f1e2e"
set notification-error-fg       "#ef6155"

set notification-warning-bg     "#2f1e2e"
set notification-warning-fg     "#ef6155"

set highlight-color             "#fec418"
set highlight-active-color      "#06b6ef"

set completion-bg               "#41323f"
set completion-fg               "#06b6ef"

set completion-highlight-fg     "#e7e9db"
set completion-highlight-bg     "#06b6ef"

set recolor-lightcolor          "#2f1e2e"
set recolor-darkcolor           "#b9b6b0"

set recolor                     "false"
set recolor-keephue             "false"
