# Base16 Rosé Pine
# Author: Emilia Dunfelt &lt;sayhi@dunfelt.se&gt;

set default-bg                  "#191724"
set default-fg                  "#1f1d2e"

set statusbar-fg                "#6e6a86"
set statusbar-bg                "#26233a"

set inputbar-bg                 "#191724"
set inputbar-fg                 "#c5c3ce"

set notification-bg             "#191724"
set notification-fg             "#c5c3ce"

set notification-error-bg       "#191724"
set notification-error-fg       "#e2e1e7"

set notification-warning-bg     "#191724"
set notification-warning-fg     "#e2e1e7"

set highlight-color             "#f6c177"
set highlight-active-color      "#9ccfd8"

set completion-bg               "#1f1d2e"
set completion-fg               "#9ccfd8"

set completion-highlight-fg     "#c5c3ce"
set completion-highlight-bg     "#9ccfd8"

set recolor-lightcolor          "#191724"
set recolor-darkcolor           "#f0f0f3"

set recolor                     "false"
set recolor-keephue             "false"
