# Base16 Classic Light
# Author: Jason Heeris (http://heeris.id.au)

set default-bg                  "#F5F5F5"
set default-fg                  "#E0E0E0"

set statusbar-fg                "#505050"
set statusbar-bg                "#D0D0D0"

set inputbar-bg                 "#F5F5F5"
set inputbar-fg                 "#151515"

set notification-bg             "#F5F5F5"
set notification-fg             "#151515"

set notification-error-bg       "#F5F5F5"
set notification-error-fg       "#AC4142"

set notification-warning-bg     "#F5F5F5"
set notification-warning-fg     "#AC4142"

set highlight-color             "#F4BF75"
set highlight-active-color      "#6A9FB5"

set completion-bg               "#E0E0E0"
set completion-fg               "#6A9FB5"

set completion-highlight-fg     "#151515"
set completion-highlight-bg     "#6A9FB5"

set recolor-lightcolor          "#F5F5F5"
set recolor-darkcolor           "#202020"

set recolor                     "false"
set recolor-keephue             "false"
