# Base16 Woodland
# Author: Jay Cornwall (https://jcornwall.com)

set default-bg                  "#231e18"
set default-fg                  "#302b25"

set statusbar-fg                "#b4a490"
set statusbar-bg                "#48413a"

set inputbar-bg                 "#231e18"
set inputbar-fg                 "#e4d4c8"

set notification-bg             "#231e18"
set notification-fg             "#e4d4c8"

set notification-error-bg       "#231e18"
set notification-error-fg       "#d35c5c"

set notification-warning-bg     "#231e18"
set notification-warning-fg     "#d35c5c"

set highlight-color             "#e0ac16"
set highlight-active-color      "#88a4d3"

set completion-bg               "#302b25"
set completion-fg               "#88a4d3"

set completion-highlight-fg     "#e4d4c8"
set completion-highlight-bg     "#88a4d3"

set recolor-lightcolor          "#231e18"
set recolor-darkcolor           "#d7c8bc"

set recolor                     "false"
set recolor-keephue             "false"
