# Base16 Gruvbox dark, pale
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

set default-bg                  "#262626"
set default-fg                  "#3a3a3a"

set statusbar-fg                "#949494"
set statusbar-bg                "#4e4e4e"

set inputbar-bg                 "#262626"
set inputbar-fg                 "#ebdbb2"

set notification-bg             "#262626"
set notification-fg             "#ebdbb2"

set notification-error-bg       "#262626"
set notification-error-fg       "#d75f5f"

set notification-warning-bg     "#262626"
set notification-warning-fg     "#d75f5f"

set highlight-color             "#ffaf00"
set highlight-active-color      "#83adad"

set completion-bg               "#3a3a3a"
set completion-fg               "#83adad"

set completion-highlight-fg     "#ebdbb2"
set completion-highlight-bg     "#83adad"

set recolor-lightcolor          "#262626"
set recolor-darkcolor           "#d5c4a1"

set recolor                     "false"
set recolor-keephue             "false"
