# Base16 Sagelight
# Author: Carter Veldhuizen

set default-bg                  "#f8f8f8"
set default-fg                  "#e8e8e8"

set statusbar-fg                "#585858"
set statusbar-bg                "#d8d8d8"

set inputbar-bg                 "#f8f8f8"
set inputbar-fg                 "#181818"

set notification-bg             "#f8f8f8"
set notification-fg             "#181818"

set notification-error-bg       "#f8f8f8"
set notification-error-fg       "#fa8480"

set notification-warning-bg     "#f8f8f8"
set notification-warning-fg     "#fa8480"

set highlight-color             "#ffdc61"
set highlight-active-color      "#a0a7d2"

set completion-bg               "#e8e8e8"
set completion-fg               "#a0a7d2"

set completion-highlight-fg     "#181818"
set completion-highlight-bg     "#a0a7d2"

set recolor-lightcolor          "#f8f8f8"
set recolor-darkcolor           "#282828"

set recolor                     "false"
set recolor-keephue             "false"
