# Base16 Classic Dark
# Author: Jason Heeris (http://heeris.id.au)

set default-bg                  "#151515"
set default-fg                  "#202020"

set statusbar-fg                "#B0B0B0"
set statusbar-bg                "#303030"

set inputbar-bg                 "#151515"
set inputbar-fg                 "#F5F5F5"

set notification-bg             "#151515"
set notification-fg             "#F5F5F5"

set notification-error-bg       "#151515"
set notification-error-fg       "#AC4142"

set notification-warning-bg     "#151515"
set notification-warning-fg     "#AC4142"

set highlight-color             "#F4BF75"
set highlight-active-color      "#6A9FB5"

set completion-bg               "#202020"
set completion-fg               "#6A9FB5"

set completion-highlight-fg     "#F5F5F5"
set completion-highlight-bg     "#6A9FB5"

set recolor-lightcolor          "#151515"
set recolor-darkcolor           "#E0E0E0"

set recolor                     "false"
set recolor-keephue             "false"
