# Base16 Windows High Contrast Light
# Author: Fergus Collins (https://github.com/C-Fergus)

set default-bg                  "#fcfcfc"
set default-fg                  "#e8e8e8"

set statusbar-fg                "#7e7e7e"
set statusbar-bg                "#d4d4d4"

set inputbar-bg                 "#fcfcfc"
set inputbar-fg                 "#000000"

set notification-bg             "#fcfcfc"
set notification-fg             "#000000"

set notification-error-bg       "#fcfcfc"
set notification-error-fg       "#800000"

set notification-warning-bg     "#fcfcfc"
set notification-warning-fg     "#800000"

set highlight-color             "#808000"
set highlight-active-color      "#000080"

set completion-bg               "#e8e8e8"
set completion-fg               "#000080"

set completion-highlight-fg     "#000000"
set completion-highlight-bg     "#000080"

set recolor-lightcolor          "#fcfcfc"
set recolor-darkcolor           "#2a2a2a"

set recolor                     "false"
set recolor-keephue             "false"
