# Base16 Qualia
# Author: isaacwhanson

set default-bg                  "#101010"
set default-fg                  "#454545"

set statusbar-fg                "#808080"
set statusbar-bg                "#454545"

set inputbar-bg                 "#101010"
set inputbar-fg                 "#454545"

set notification-bg             "#101010"
set notification-fg             "#454545"

set notification-error-bg       "#101010"
set notification-error-fg       "#EFA6A2"

set notification-warning-bg     "#101010"
set notification-warning-fg     "#EFA6A2"

set highlight-color             "#E6A3DC"
set highlight-active-color      "#50CACD"

set completion-bg               "#454545"
set completion-fg               "#50CACD"

set completion-highlight-fg     "#454545"
set completion-highlight-bg     "#50CACD"

set recolor-lightcolor          "#101010"
set recolor-darkcolor           "#C0C0C0"

set recolor                     "false"
set recolor-keephue             "false"
