# Base16 Equilibrium Gray Dark
# Author: Carlo Abelli

set default-bg                  "#111111"
set default-fg                  "#1b1b1b"

set statusbar-fg                "#919191"
set statusbar-bg                "#262626"

set inputbar-bg                 "#111111"
set inputbar-fg                 "#e2e2e2"

set notification-bg             "#111111"
set notification-fg             "#e2e2e2"

set notification-error-bg       "#111111"
set notification-error-fg       "#f04339"

set notification-warning-bg     "#111111"
set notification-warning-fg     "#f04339"

set highlight-color             "#bb8801"
set highlight-active-color      "#008dd1"

set completion-bg               "#1b1b1b"
set completion-fg               "#008dd1"

set completion-highlight-fg     "#e2e2e2"
set completion-highlight-bg     "#008dd1"

set recolor-lightcolor          "#111111"
set recolor-darkcolor           "#c6c6c6"

set recolor                     "false"
set recolor-keephue             "false"
