# Base16 Ashes
# Author: Jannik Siebert (https://github.com/janniks)

set default-bg                  "#1C2023"
set default-fg                  "#393F45"

set statusbar-fg                "#ADB3BA"
set statusbar-bg                "#565E65"

set inputbar-bg                 "#1C2023"
set inputbar-fg                 "#F3F4F5"

set notification-bg             "#1C2023"
set notification-fg             "#F3F4F5"

set notification-error-bg       "#1C2023"
set notification-error-fg       "#C7AE95"

set notification-warning-bg     "#1C2023"
set notification-warning-fg     "#C7AE95"

set highlight-color             "#AEC795"
set highlight-active-color      "#AE95C7"

set completion-bg               "#393F45"
set completion-fg               "#AE95C7"

set completion-highlight-fg     "#F3F4F5"
set completion-highlight-bg     "#AE95C7"

set recolor-lightcolor          "#1C2023"
set recolor-darkcolor           "#DFE2E5"

set recolor                     "false"
set recolor-keephue             "false"
