# Base16 Heetch Dark
# Author: Geoffrey Teale (tealeg@gmail.com)

set default-bg                  "#190134"
set default-fg                  "#392551"

set statusbar-fg                "#9C92A8"
set statusbar-bg                "#5A496E"

set inputbar-bg                 "#190134"
set inputbar-fg                 "#FEFFFF"

set notification-bg             "#190134"
set notification-fg             "#FEFFFF"

set notification-error-bg       "#190134"
set notification-error-fg       "#27D9D5"

set notification-warning-bg     "#190134"
set notification-warning-fg     "#27D9D5"

set highlight-color             "#8F6C97"
set highlight-active-color      "#BD0152"

set completion-bg               "#392551"
set completion-fg               "#BD0152"

set completion-highlight-fg     "#FEFFFF"
set completion-highlight-bg     "#BD0152"

set recolor-lightcolor          "#190134"
set recolor-darkcolor           "#DEDAE2"

set recolor                     "false"
set recolor-keephue             "false"
