# Base16 DanQing
# Author: Wenhan Zhu (Cosmos) (zhuwenhan950913@gmail.com)

set default-bg                  "#2d302f"
set default-fg                  "#434846"

set statusbar-fg                "#cad8d2"
set statusbar-bg                "#5a605d"

set inputbar-bg                 "#2d302f"
set inputbar-fg                 "#fcfefd"

set notification-bg             "#2d302f"
set notification-fg             "#fcfefd"

set notification-error-bg       "#2d302f"
set notification-error-fg       "#F9906F"

set notification-warning-bg     "#2d302f"
set notification-warning-fg     "#F9906F"

set highlight-color             "#F0C239"
set highlight-active-color      "#B0A4E3"

set completion-bg               "#434846"
set completion-fg               "#B0A4E3"

set completion-highlight-fg     "#fcfefd"
set completion-highlight-bg     "#B0A4E3"

set recolor-lightcolor          "#2d302f"
set recolor-darkcolor           "#ecf6f2"

set recolor                     "false"
set recolor-keephue             "false"
