# Base16 tender
# Author: Jacobo Tabernero (https://github/com/jacoborus/tender.vim)

set default-bg                  "#282828"
set default-fg                  "#383838"

set statusbar-fg                "#b8b8b8"
set statusbar-bg                "#484848"

set inputbar-bg                 "#282828"
set inputbar-fg                 "#ffffff"

set notification-bg             "#282828"
set notification-fg             "#ffffff"

set notification-error-bg       "#282828"
set notification-error-fg       "#f43753"

set notification-warning-bg     "#282828"
set notification-warning-fg     "#f43753"

set highlight-color             "#ffc24b"
set highlight-active-color      "#b3deef"

set completion-bg               "#383838"
set completion-fg               "#b3deef"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#b3deef"

set recolor-lightcolor          "#282828"
set recolor-darkcolor           "#e8e8e8"

set recolor                     "false"
set recolor-keephue             "false"
