# Base16 Railscasts
# Author: Ryan Bates (http://railscasts.com)

set default-bg                  "#2b2b2b"
set default-fg                  "#272935"

set statusbar-fg                "#d4cfc9"
set statusbar-bg                "#3a4055"

set inputbar-bg                 "#2b2b2b"
set inputbar-fg                 "#f9f7f3"

set notification-bg             "#2b2b2b"
set notification-fg             "#f9f7f3"

set notification-error-bg       "#2b2b2b"
set notification-error-fg       "#da4939"

set notification-warning-bg     "#2b2b2b"
set notification-warning-fg     "#da4939"

set highlight-color             "#ffc66d"
set highlight-active-color      "#6d9cbe"

set completion-bg               "#272935"
set completion-fg               "#6d9cbe"

set completion-highlight-fg     "#f9f7f3"
set completion-highlight-bg     "#6d9cbe"

set recolor-lightcolor          "#2b2b2b"
set recolor-darkcolor           "#f4f1ed"

set recolor                     "false"
set recolor-keephue             "false"
