# Base16 Atelier Sulphurpool
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#202746"
set default-fg                  "#293256"

set statusbar-fg                "#898ea4"
set statusbar-bg                "#5e6687"

set inputbar-bg                 "#202746"
set inputbar-fg                 "#f5f7ff"

set notification-bg             "#202746"
set notification-fg             "#f5f7ff"

set notification-error-bg       "#202746"
set notification-error-fg       "#c94922"

set notification-warning-bg     "#202746"
set notification-warning-fg     "#c94922"

set highlight-color             "#c08b30"
set highlight-active-color      "#3d8fd1"

set completion-bg               "#293256"
set completion-fg               "#3d8fd1"

set completion-highlight-fg     "#f5f7ff"
set completion-highlight-bg     "#3d8fd1"

set recolor-lightcolor          "#202746"
set recolor-darkcolor           "#dfe2f1"

set recolor                     "false"
set recolor-keephue             "false"
