# Base16 PhD
# Author: Hennig Hasemann (http://leetless.de/vim.html)

set default-bg                  "#061229"
set default-fg                  "#2a3448"

set statusbar-fg                "#9a99a3"
set statusbar-bg                "#4d5666"

set inputbar-bg                 "#061229"
set inputbar-fg                 "#ffffff"

set notification-bg             "#061229"
set notification-fg             "#ffffff"

set notification-error-bg       "#061229"
set notification-error-fg       "#d07346"

set notification-warning-bg     "#061229"
set notification-warning-fg     "#d07346"

set highlight-color             "#fbd461"
set highlight-active-color      "#5299bf"

set completion-bg               "#2a3448"
set completion-fg               "#5299bf"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#5299bf"

set recolor-lightcolor          "#061229"
set recolor-darkcolor           "#dbdde0"

set recolor                     "false"
set recolor-keephue             "false"
