# Base16 Nova
# Author: George Essig (https://github.com/gessig), Trevor D. Miller (https://trevordmiller.com)

set default-bg                  "#3C4C55"
set default-fg                  "#556873"

set statusbar-fg                "#899BA6"
set statusbar-bg                "#6A7D89"

set inputbar-bg                 "#3C4C55"
set inputbar-fg                 "#556873"

set notification-bg             "#3C4C55"
set notification-fg             "#556873"

set notification-error-bg       "#3C4C55"
set notification-error-fg       "#83AFE5"

set notification-warning-bg     "#3C4C55"
set notification-warning-fg     "#83AFE5"

set highlight-color             "#A8CE93"
set highlight-active-color      "#83AFE5"

set completion-bg               "#556873"
set completion-fg               "#83AFE5"

set completion-highlight-fg     "#556873"
set completion-highlight-bg     "#83AFE5"

set recolor-lightcolor          "#3C4C55"
set recolor-darkcolor           "#899BA6"

set recolor                     "false"
set recolor-keephue             "false"
