# Base16 vulcan
# Author: Andrey Varfolomeev

set default-bg                  "#041523"
set default-fg                  "#122339"

set statusbar-fg                "#6b6977"
set statusbar-bg                "#003552"

set inputbar-bg                 "#041523"
set inputbar-fg                 "#214d68"

set notification-bg             "#041523"
set notification-fg             "#214d68"

set notification-error-bg       "#041523"
set notification-error-fg       "#818591"

set notification-warning-bg     "#041523"
set notification-warning-fg     "#818591"

set highlight-color             "#adb4b9"
set highlight-active-color      "#977d7c"

set completion-bg               "#122339"
set completion-fg               "#977d7c"

set completion-highlight-fg     "#214d68"
set completion-highlight-bg     "#977d7c"

set recolor-lightcolor          "#041523"
set recolor-darkcolor           "#333238"

set recolor                     "false"
set recolor-keephue             "false"
