# Base16 Atlas
# Author: Alex Lende (https://ajlende.com)

set default-bg                  "#002635"
set default-fg                  "#00384d"

set statusbar-fg                "#869696"
set statusbar-bg                "#517F8D"

set inputbar-bg                 "#002635"
set inputbar-fg                 "#fafaf8"

set notification-bg             "#002635"
set notification-fg             "#fafaf8"

set notification-error-bg       "#002635"
set notification-error-fg       "#ff5a67"

set notification-warning-bg     "#002635"
set notification-warning-fg     "#ff5a67"

set highlight-color             "#ffcc1b"
set highlight-active-color      "#5dd7b9"

set completion-bg               "#00384d"
set completion-fg               "#5dd7b9"

set completion-highlight-fg     "#fafaf8"
set completion-highlight-bg     "#5dd7b9"

set recolor-lightcolor          "#002635"
set recolor-darkcolor           "#e6e6dc"

set recolor                     "false"
set recolor-keephue             "false"
