# Base16 Cupertino
# Author: Defman21

set default-bg                  "#ffffff"
set default-fg                  "#c0c0c0"

set statusbar-fg                "#808080"
set statusbar-bg                "#c0c0c0"

set inputbar-bg                 "#ffffff"
set inputbar-fg                 "#5e5e5e"

set notification-bg             "#ffffff"
set notification-fg             "#5e5e5e"

set notification-error-bg       "#ffffff"
set notification-error-fg       "#c41a15"

set notification-warning-bg     "#ffffff"
set notification-warning-fg     "#c41a15"

set highlight-color             "#826b28"
set highlight-active-color      "#0000ff"

set completion-bg               "#c0c0c0"
set completion-fg               "#0000ff"

set completion-highlight-fg     "#5e5e5e"
set completion-highlight-bg     "#0000ff"

set recolor-lightcolor          "#ffffff"
set recolor-darkcolor           "#404040"

set recolor                     "false"
set recolor-keephue             "false"
