# Base16 Default Dark
# Author: Chris Kempson (http://chriskempson.com)

set default-bg                  "#181818"
set default-fg                  "#282828"

set statusbar-fg                "#b8b8b8"
set statusbar-bg                "#383838"

set inputbar-bg                 "#181818"
set inputbar-fg                 "#f8f8f8"

set notification-bg             "#181818"
set notification-fg             "#f8f8f8"

set notification-error-bg       "#181818"
set notification-error-fg       "#ab4642"

set notification-warning-bg     "#181818"
set notification-warning-fg     "#ab4642"

set highlight-color             "#f7ca88"
set highlight-active-color      "#7cafc2"

set completion-bg               "#282828"
set completion-fg               "#7cafc2"

set completion-highlight-fg     "#f8f8f8"
set completion-highlight-bg     "#7cafc2"

set recolor-lightcolor          "#181818"
set recolor-darkcolor           "#e8e8e8"

set recolor                     "false"
set recolor-keephue             "false"
