# Base16 Horizon Light
# Author: Michaël Ball (http://github.com/michael-ball/)

set default-bg                  "#FDF0ED"
set default-fg                  "#FADAD1"

set statusbar-fg                "#948C8A"
set statusbar-bg                "#F9CBBE"

set inputbar-bg                 "#FDF0ED"
set inputbar-fg                 "#201C1D"

set notification-bg             "#FDF0ED"
set notification-fg             "#201C1D"

set notification-error-bg       "#FDF0ED"
set notification-error-fg       "#F7939B"

set notification-warning-bg     "#FDF0ED"
set notification-warning-fg     "#F7939B"

set highlight-color             "#FBE0D9"
set highlight-active-color      "#DA103F"

set completion-bg               "#FADAD1"
set completion-fg               "#DA103F"

set completion-highlight-fg     "#201C1D"
set completion-highlight-bg     "#DA103F"

set recolor-lightcolor          "#FDF0ED"
set recolor-darkcolor           "#302C2D"

set recolor                     "false"
set recolor-keephue             "false"
