# Base16 One Light
# Author: Daniel Pfeifer (http://github.com/purpleKarrot)

set default-bg                  "#fafafa"
set default-fg                  "#f0f0f1"

set statusbar-fg                "#696c77"
set statusbar-bg                "#e5e5e6"

set inputbar-bg                 "#fafafa"
set inputbar-fg                 "#090a0b"

set notification-bg             "#fafafa"
set notification-fg             "#090a0b"

set notification-error-bg       "#fafafa"
set notification-error-fg       "#ca1243"

set notification-warning-bg     "#fafafa"
set notification-warning-fg     "#ca1243"

set highlight-color             "#c18401"
set highlight-active-color      "#4078f2"

set completion-bg               "#f0f0f1"
set completion-fg               "#4078f2"

set completion-highlight-fg     "#090a0b"
set completion-highlight-bg     "#4078f2"

set recolor-lightcolor          "#fafafa"
set recolor-darkcolor           "#202227"

set recolor                     "false"
set recolor-keephue             "false"
