# Base16 Humanoid dark
# Author: Thomas (tasmo) Friese

set default-bg                  "#232629"
set default-fg                  "#333b3d"

set statusbar-fg                "#c0c0bd"
set statusbar-bg                "#484e54"

set inputbar-bg                 "#232629"
set inputbar-fg                 "#fcfcfc"

set notification-bg             "#232629"
set notification-fg             "#fcfcfc"

set notification-error-bg       "#232629"
set notification-error-fg       "#f11235"

set notification-warning-bg     "#232629"
set notification-warning-fg     "#f11235"

set highlight-color             "#ffb627"
set highlight-active-color      "#00a6fb"

set completion-bg               "#333b3d"
set completion-fg               "#00a6fb"

set completion-highlight-fg     "#fcfcfc"
set completion-highlight-bg     "#00a6fb"

set recolor-lightcolor          "#232629"
set recolor-darkcolor           "#fcfcf6"

set recolor                     "false"
set recolor-keephue             "false"
