# Base16 Solar Flare Light
# Author: Chuck Harmston (https://chuck.harmston.ch)

set default-bg                  "#F5F7FA"
set default-fg                  "#E8E9ED"

set statusbar-fg                "#667581"
set statusbar-bg                "#A6AFB8"

set inputbar-bg                 "#F5F7FA"
set inputbar-fg                 "#18262F"

set notification-bg             "#F5F7FA"
set notification-fg             "#18262F"

set notification-error-bg       "#F5F7FA"
set notification-error-fg       "#EF5253"

set notification-warning-bg     "#F5F7FA"
set notification-warning-fg     "#EF5253"

set highlight-color             "#E4B51C"
set highlight-active-color      "#33B5E1"

set completion-bg               "#E8E9ED"
set completion-fg               "#33B5E1"

set completion-highlight-fg     "#18262F"
set completion-highlight-bg     "#33B5E1"

set recolor-lightcolor          "#F5F7FA"
set recolor-darkcolor           "#222E38"

set recolor                     "false"
set recolor-keephue             "false"
