# Base16 Seti UI
# Author: 

set default-bg                  "#151718"
set default-fg                  "#282a2b"

set statusbar-fg                "#43a5d5"
set statusbar-bg                "#3B758C"

set inputbar-bg                 "#151718"
set inputbar-fg                 "#ffffff"

set notification-bg             "#151718"
set notification-fg             "#ffffff"

set notification-error-bg       "#151718"
set notification-error-fg       "#Cd3f45"

set notification-warning-bg     "#151718"
set notification-warning-fg     "#Cd3f45"

set highlight-color             "#e6cd69"
set highlight-active-color      "#55b5db"

set completion-bg               "#282a2b"
set completion-fg               "#55b5db"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#55b5db"

set recolor-lightcolor          "#151718"
set recolor-darkcolor           "#eeeeee"

set recolor                     "false"
set recolor-keephue             "false"
