# Base16 Atelier Savanna
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#171c19"
set default-fg                  "#232a25"

set statusbar-fg                "#78877d"
set statusbar-bg                "#526057"

set inputbar-bg                 "#171c19"
set inputbar-fg                 "#ecf4ee"

set notification-bg             "#171c19"
set notification-fg             "#ecf4ee"

set notification-error-bg       "#171c19"
set notification-error-fg       "#b16139"

set notification-warning-bg     "#171c19"
set notification-warning-fg     "#b16139"

set highlight-color             "#a07e3b"
set highlight-active-color      "#478c90"

set completion-bg               "#232a25"
set completion-fg               "#478c90"

set completion-highlight-fg     "#ecf4ee"
set completion-highlight-bg     "#478c90"

set recolor-lightcolor          "#171c19"
set recolor-darkcolor           "#dfe7e2"

set recolor                     "false"
set recolor-keephue             "false"
