# Base16 Material Palenight
# Author: Nate Peterson

set default-bg                  "#292D3E"
set default-fg                  "#444267"

set statusbar-fg                "#8796B0"
set statusbar-bg                "#32374D"

set inputbar-bg                 "#292D3E"
set inputbar-fg                 "#FFFFFF"

set notification-bg             "#292D3E"
set notification-fg             "#FFFFFF"

set notification-error-bg       "#292D3E"
set notification-error-fg       "#F07178"

set notification-warning-bg     "#292D3E"
set notification-warning-fg     "#F07178"

set highlight-color             "#FFCB6B"
set highlight-active-color      "#82AAFF"

set completion-bg               "#444267"
set completion-fg               "#82AAFF"

set completion-highlight-fg     "#FFFFFF"
set completion-highlight-bg     "#82AAFF"

set recolor-lightcolor          "#292D3E"
set recolor-darkcolor           "#959DCB"

set recolor                     "false"
set recolor-keephue             "false"
