# Base16 Atelier Cave Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#efecf4"
set default-fg                  "#e2dfe7"

set statusbar-fg                "#655f6d"
set statusbar-bg                "#8b8792"

set inputbar-bg                 "#efecf4"
set inputbar-fg                 "#19171c"

set notification-bg             "#efecf4"
set notification-fg             "#19171c"

set notification-error-bg       "#efecf4"
set notification-error-fg       "#be4678"

set notification-warning-bg     "#efecf4"
set notification-warning-fg     "#be4678"

set highlight-color             "#a06e3b"
set highlight-active-color      "#576ddb"

set completion-bg               "#e2dfe7"
set completion-fg               "#576ddb"

set completion-highlight-fg     "#19171c"
set completion-highlight-bg     "#576ddb"

set recolor-lightcolor          "#efecf4"
set recolor-darkcolor           "#26232a"

set recolor                     "false"
set recolor-keephue             "false"
