# Base16 Atelier Savanna Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#ecf4ee"
set default-fg                  "#dfe7e2"

set statusbar-fg                "#5f6d64"
set statusbar-bg                "#87928a"

set inputbar-bg                 "#ecf4ee"
set inputbar-fg                 "#171c19"

set notification-bg             "#ecf4ee"
set notification-fg             "#171c19"

set notification-error-bg       "#ecf4ee"
set notification-error-fg       "#b16139"

set notification-warning-bg     "#ecf4ee"
set notification-warning-fg     "#b16139"

set highlight-color             "#a07e3b"
set highlight-active-color      "#478c90"

set completion-bg               "#dfe7e2"
set completion-fg               "#478c90"

set completion-highlight-fg     "#171c19"
set completion-highlight-bg     "#478c90"

set recolor-lightcolor          "#ecf4ee"
set recolor-darkcolor           "#232a25"

set recolor                     "false"
set recolor-keephue             "false"
