# Base16 Colors
# Author: mrmrs (http://clrs.cc)

set default-bg                  "#111111"
set default-fg                  "#333333"

set statusbar-fg                "#999999"
set statusbar-bg                "#555555"

set inputbar-bg                 "#111111"
set inputbar-fg                 "#ffffff"

set notification-bg             "#111111"
set notification-fg             "#ffffff"

set notification-error-bg       "#111111"
set notification-error-fg       "#ff4136"

set notification-warning-bg     "#111111"
set notification-warning-fg     "#ff4136"

set highlight-color             "#ffdc00"
set highlight-active-color      "#0074d9"

set completion-bg               "#333333"
set completion-fg               "#0074d9"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#0074d9"

set recolor-lightcolor          "#111111"
set recolor-darkcolor           "#dddddd"

set recolor                     "false"
set recolor-keephue             "false"
