# Base16 Default Light
# Author: Chris Kempson (http://chriskempson.com)

set default-bg                  "#f8f8f8"
set default-fg                  "#e8e8e8"

set statusbar-fg                "#585858"
set statusbar-bg                "#d8d8d8"

set inputbar-bg                 "#f8f8f8"
set inputbar-fg                 "#181818"

set notification-bg             "#f8f8f8"
set notification-fg             "#181818"

set notification-error-bg       "#f8f8f8"
set notification-error-fg       "#ab4642"

set notification-warning-bg     "#f8f8f8"
set notification-warning-fg     "#ab4642"

set highlight-color             "#f7ca88"
set highlight-active-color      "#7cafc2"

set completion-bg               "#e8e8e8"
set completion-fg               "#7cafc2"

set completion-highlight-fg     "#181818"
set completion-highlight-bg     "#7cafc2"

set recolor-lightcolor          "#f8f8f8"
set recolor-darkcolor           "#282828"

set recolor                     "false"
set recolor-keephue             "false"
