# Base16 Atelier Cave
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#19171c"
set default-fg                  "#26232a"

set statusbar-fg                "#7e7887"
set statusbar-bg                "#585260"

set inputbar-bg                 "#19171c"
set inputbar-fg                 "#efecf4"

set notification-bg             "#19171c"
set notification-fg             "#efecf4"

set notification-error-bg       "#19171c"
set notification-error-fg       "#be4678"

set notification-warning-bg     "#19171c"
set notification-warning-fg     "#be4678"

set highlight-color             "#a06e3b"
set highlight-active-color      "#576ddb"

set completion-bg               "#26232a"
set completion-fg               "#576ddb"

set completion-highlight-fg     "#efecf4"
set completion-highlight-bg     "#576ddb"

set recolor-lightcolor          "#19171c"
set recolor-darkcolor           "#e2dfe7"

set recolor                     "false"
set recolor-keephue             "false"
