# Base16 Horizon Dark
# Author: Michaël Ball (http://github.com/michael-ball/)

set default-bg                  "#1C1E26"
set default-fg                  "#232530"

set statusbar-fg                "#9DA0A2"
set statusbar-bg                "#2E303E"

set inputbar-bg                 "#1C1E26"
set inputbar-fg                 "#E3E6EE"

set notification-bg             "#1C1E26"
set notification-fg             "#E3E6EE"

set notification-error-bg       "#1C1E26"
set notification-error-fg       "#E93C58"

set notification-warning-bg     "#1C1E26"
set notification-warning-fg     "#E93C58"

set highlight-color             "#EFB993"
set highlight-active-color      "#DF5273"

set completion-bg               "#232530"
set completion-fg               "#DF5273"

set completion-highlight-fg     "#E3E6EE"
set completion-highlight-bg     "#DF5273"

set recolor-lightcolor          "#1C1E26"
set recolor-darkcolor           "#DCDFE4"

set recolor                     "false"
set recolor-keephue             "false"
