# Base16 Windows 95
# Author: Fergus Collins (https://github.com/C-Fergus)

set default-bg                  "#000000"
set default-fg                  "#1C1C1C"

set statusbar-fg                "#7e7e7e"
set statusbar-bg                "#383838"

set inputbar-bg                 "#000000"
set inputbar-fg                 "#fcfcfc"

set notification-bg             "#000000"
set notification-fg             "#fcfcfc"

set notification-error-bg       "#000000"
set notification-error-fg       "#fc5454"

set notification-warning-bg     "#000000"
set notification-warning-fg     "#fc5454"

set highlight-color             "#fcfc54"
set highlight-active-color      "#5454fc"

set completion-bg               "#1C1C1C"
set completion-fg               "#5454fc"

set completion-highlight-fg     "#fcfcfc"
set completion-highlight-bg     "#5454fc"

set recolor-lightcolor          "#000000"
set recolor-darkcolor           "#d2d2d2"

set recolor                     "false"
set recolor-keephue             "false"
