# Base16 Atelier Dune Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#fefbec"
set default-fg                  "#e8e4cf"

set statusbar-fg                "#7d7a68"
set statusbar-bg                "#a6a28c"

set inputbar-bg                 "#fefbec"
set inputbar-fg                 "#20201d"

set notification-bg             "#fefbec"
set notification-fg             "#20201d"

set notification-error-bg       "#fefbec"
set notification-error-fg       "#d73737"

set notification-warning-bg     "#fefbec"
set notification-warning-fg     "#d73737"

set highlight-color             "#ae9513"
set highlight-active-color      "#6684e1"

set completion-bg               "#e8e4cf"
set completion-fg               "#6684e1"

set completion-highlight-fg     "#20201d"
set completion-highlight-bg     "#6684e1"

set recolor-lightcolor          "#fefbec"
set recolor-darkcolor           "#292824"

set recolor                     "false"
set recolor-keephue             "false"
