# Base16 Icy Dark
# Author: icyphox (https://icyphox.ga)

set default-bg                  "#021012"
set default-fg                  "#031619"

set statusbar-fg                "#064048"
set statusbar-bg                "#041f23"

set inputbar-bg                 "#021012"
set inputbar-fg                 "#109cb0"

set notification-bg             "#021012"
set notification-fg             "#109cb0"

set notification-error-bg       "#021012"
set notification-error-fg       "#16c1d9"

set notification-warning-bg     "#021012"
set notification-warning-fg     "#16c1d9"

set highlight-color             "#80deea"
set highlight-active-color      "#00bcd4"

set completion-bg               "#031619"
set completion-fg               "#00bcd4"

set completion-highlight-fg     "#109cb0"
set completion-highlight-bg     "#00bcd4"

set recolor-lightcolor          "#021012"
set recolor-darkcolor           "#0c7c8c"

set recolor                     "false"
set recolor-keephue             "false"
