# Base16 London Tube
# Author: Jan T. Sott

set default-bg                  "#231f20"
set default-fg                  "#1c3f95"

set statusbar-fg                "#959ca1"
set statusbar-bg                "#5a5758"

set inputbar-bg                 "#231f20"
set inputbar-fg                 "#ffffff"

set notification-bg             "#231f20"
set notification-fg             "#ffffff"

set notification-error-bg       "#231f20"
set notification-error-fg       "#ee2e24"

set notification-warning-bg     "#231f20"
set notification-warning-fg     "#ee2e24"

set highlight-color             "#ffd204"
set highlight-active-color      "#009ddc"

set completion-bg               "#1c3f95"
set completion-fg               "#009ddc"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#009ddc"

set recolor-lightcolor          "#231f20"
set recolor-darkcolor           "#e7e7e8"

set recolor                     "false"
set recolor-keephue             "false"
