# Base16 Windows NT
# Author: Fergus Collins (https://github.com/C-Fergus)

set default-bg                  "#000000"
set default-fg                  "#2a2a2a"

set statusbar-fg                "#a1a1a1"
set statusbar-bg                "#555555"

set inputbar-bg                 "#000000"
set inputbar-fg                 "#ffffff"

set notification-bg             "#000000"
set notification-fg             "#ffffff"

set notification-error-bg       "#000000"
set notification-error-fg       "#ff0000"

set notification-warning-bg     "#000000"
set notification-warning-fg     "#ff0000"

set highlight-color             "#ffff00"
set highlight-active-color      "#0000ff"

set completion-bg               "#2a2a2a"
set completion-fg               "#0000ff"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#0000ff"

set recolor-lightcolor          "#000000"
set recolor-darkcolor           "#e0e0e0"

set recolor                     "false"
set recolor-keephue             "false"
