# Base16 Tango
# Author: @Schnouki, based on the Tango Desktop Project

set default-bg                  "#2e3436"
set default-fg                  "#8ae234"

set statusbar-fg                "#729fcf"
set statusbar-bg                "#fce94f"

set inputbar-bg                 "#2e3436"
set inputbar-fg                 "#eeeeec"

set notification-bg             "#2e3436"
set notification-fg             "#eeeeec"

set notification-error-bg       "#2e3436"
set notification-error-fg       "#cc0000"

set notification-warning-bg     "#2e3436"
set notification-warning-fg     "#cc0000"

set highlight-color             "#c4a000"
set highlight-active-color      "#3465a4"

set completion-bg               "#8ae234"
set completion-fg               "#3465a4"

set completion-highlight-fg     "#eeeeec"
set completion-highlight-bg     "#3465a4"

set recolor-lightcolor          "#2e3436"
set recolor-darkcolor           "#ad7fa8"

set recolor                     "false"
set recolor-keephue             "false"
