# Base16 Windows 10
# Author: Fergus Collins (https://github.com/C-Fergus)

set default-bg                  "#0c0c0c"
set default-fg                  "#2f2f2f"

set statusbar-fg                "#b9b9b9"
set statusbar-bg                "#535353"

set inputbar-bg                 "#0c0c0c"
set inputbar-fg                 "#f2f2f2"

set notification-bg             "#0c0c0c"
set notification-fg             "#f2f2f2"

set notification-error-bg       "#0c0c0c"
set notification-error-fg       "#e74856"

set notification-warning-bg     "#0c0c0c"
set notification-warning-fg     "#e74856"

set highlight-color             "#f9f1a5"
set highlight-active-color      "#3b78ff"

set completion-bg               "#2f2f2f"
set completion-fg               "#3b78ff"

set completion-highlight-fg     "#f2f2f2"
set completion-highlight-bg     "#3b78ff"

set recolor-lightcolor          "#0c0c0c"
set recolor-darkcolor           "#dfdfdf"

set recolor                     "false"
set recolor-keephue             "false"
