# Base16 Bespin
# Author: Jan T. Sott

set default-bg                  "#28211c"
set default-fg                  "#36312e"

set statusbar-fg                "#797977"
set statusbar-bg                "#5e5d5c"

set inputbar-bg                 "#28211c"
set inputbar-fg                 "#baae9e"

set notification-bg             "#28211c"
set notification-fg             "#baae9e"

set notification-error-bg       "#28211c"
set notification-error-fg       "#cf6a4c"

set notification-warning-bg     "#28211c"
set notification-warning-fg     "#cf6a4c"

set highlight-color             "#f9ee98"
set highlight-active-color      "#5ea6ea"

set completion-bg               "#36312e"
set completion-fg               "#5ea6ea"

set completion-highlight-fg     "#baae9e"
set completion-highlight-bg     "#5ea6ea"

set recolor-lightcolor          "#28211c"
set recolor-darkcolor           "#9d9b97"

set recolor                     "false"
set recolor-keephue             "false"
