# Base16 Ocean
# Author: Chris Kempson (http://chriskempson.com)

set default-bg                  "#2b303b"
set default-fg                  "#343d46"

set statusbar-fg                "#a7adba"
set statusbar-bg                "#4f5b66"

set inputbar-bg                 "#2b303b"
set inputbar-fg                 "#eff1f5"

set notification-bg             "#2b303b"
set notification-fg             "#eff1f5"

set notification-error-bg       "#2b303b"
set notification-error-fg       "#bf616a"

set notification-warning-bg     "#2b303b"
set notification-warning-fg     "#bf616a"

set highlight-color             "#ebcb8b"
set highlight-active-color      "#8fa1b3"

set completion-bg               "#343d46"
set completion-fg               "#8fa1b3"

set completion-highlight-fg     "#eff1f5"
set completion-highlight-bg     "#8fa1b3"

set recolor-lightcolor          "#2b303b"
set recolor-darkcolor           "#dfe1e8"

set recolor                     "false"
set recolor-keephue             "false"
