# Base16 Equilibrium Dark
# Author: Carlo Abelli

set default-bg                  "#0c1118"
set default-fg                  "#181c22"

set statusbar-fg                "#949088"
set statusbar-bg                "#22262d"

set inputbar-bg                 "#0c1118"
set inputbar-fg                 "#e7e2d9"

set notification-bg             "#0c1118"
set notification-fg             "#e7e2d9"

set notification-error-bg       "#0c1118"
set notification-error-fg       "#f04339"

set notification-warning-bg     "#0c1118"
set notification-warning-fg     "#f04339"

set highlight-color             "#bb8801"
set highlight-active-color      "#008dd1"

set completion-bg               "#181c22"
set completion-fg               "#008dd1"

set completion-highlight-fg     "#e7e2d9"
set completion-highlight-bg     "#008dd1"

set recolor-lightcolor          "#0c1118"
set recolor-darkcolor           "#cac6bd"

set recolor                     "false"
set recolor-keephue             "false"
