# Base16 Material Lighter
# Author: Nate Peterson

set default-bg                  "#FAFAFA"
set default-fg                  "#E7EAEC"

set statusbar-fg                "#8796B0"
set statusbar-bg                "#CCEAE7"

set inputbar-bg                 "#FAFAFA"
set inputbar-fg                 "#FFFFFF"

set notification-bg             "#FAFAFA"
set notification-fg             "#FFFFFF"

set notification-error-bg       "#FAFAFA"
set notification-error-fg       "#FF5370"

set notification-warning-bg     "#FAFAFA"
set notification-warning-fg     "#FF5370"

set highlight-color             "#FFB62C"
set highlight-active-color      "#6182B8"

set completion-bg               "#E7EAEC"
set completion-fg               "#6182B8"

set completion-highlight-fg     "#FFFFFF"
set completion-highlight-bg     "#6182B8"

set recolor-lightcolor          "#FAFAFA"
set recolor-darkcolor           "#80CBC4"

set recolor                     "false"
set recolor-keephue             "false"
