# Base16 Pasque
# Author: Gabriel Fontes (https://github.com/Misterio77)

set default-bg                  "#271C3A"
set default-fg                  "#100323"

set statusbar-fg                "#BEBCBF"
set statusbar-bg                "#3E2D5C"

set inputbar-bg                 "#271C3A"
set inputbar-fg                 "#BBAADD"

set notification-bg             "#271C3A"
set notification-fg             "#BBAADD"

set notification-error-bg       "#271C3A"
set notification-error-fg       "#A92258"

set notification-warning-bg     "#271C3A"
set notification-warning-fg     "#A92258"

set highlight-color             "#804ead"
set highlight-active-color      "#8E7DC6"

set completion-bg               "#100323"
set completion-fg               "#8E7DC6"

set completion-highlight-fg     "#BBAADD"
set completion-highlight-bg     "#8E7DC6"

set recolor-lightcolor          "#271C3A"
set recolor-darkcolor           "#EDEAEF"

set recolor                     "false"
set recolor-keephue             "false"
