# Base16 Solar Flare
# Author: Chuck Harmston (https://chuck.harmston.ch)

set default-bg                  "#18262F"
set default-fg                  "#222E38"

set statusbar-fg                "#85939E"
set statusbar-bg                "#586875"

set inputbar-bg                 "#18262F"
set inputbar-fg                 "#F5F7FA"

set notification-bg             "#18262F"
set notification-fg             "#F5F7FA"

set notification-error-bg       "#18262F"
set notification-error-fg       "#EF5253"

set notification-warning-bg     "#18262F"
set notification-warning-fg     "#EF5253"

set highlight-color             "#E4B51C"
set highlight-active-color      "#33B5E1"

set completion-bg               "#222E38"
set completion-fg               "#33B5E1"

set completion-highlight-fg     "#F5F7FA"
set completion-highlight-bg     "#33B5E1"

set recolor-lightcolor          "#18262F"
set recolor-darkcolor           "#E8E9ED"

set recolor                     "false"
set recolor-keephue             "false"
