# Base16 Atelier Dune
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#20201d"
set default-fg                  "#292824"

set statusbar-fg                "#999580"
set statusbar-bg                "#6e6b5e"

set inputbar-bg                 "#20201d"
set inputbar-fg                 "#fefbec"

set notification-bg             "#20201d"
set notification-fg             "#fefbec"

set notification-error-bg       "#20201d"
set notification-error-fg       "#d73737"

set notification-warning-bg     "#20201d"
set notification-warning-fg     "#d73737"

set highlight-color             "#ae9513"
set highlight-active-color      "#6684e1"

set completion-bg               "#292824"
set completion-fg               "#6684e1"

set completion-highlight-fg     "#fefbec"
set completion-highlight-bg     "#6684e1"

set recolor-lightcolor          "#20201d"
set recolor-darkcolor           "#e8e4cf"

set recolor                     "false"
set recolor-keephue             "false"
