# Base16 Eighties
# Author: Chris Kempson (http://chriskempson.com)

set default-bg                  "#2d2d2d"
set default-fg                  "#393939"

set statusbar-fg                "#a09f93"
set statusbar-bg                "#515151"

set inputbar-bg                 "#2d2d2d"
set inputbar-fg                 "#f2f0ec"

set notification-bg             "#2d2d2d"
set notification-fg             "#f2f0ec"

set notification-error-bg       "#2d2d2d"
set notification-error-fg       "#f2777a"

set notification-warning-bg     "#2d2d2d"
set notification-warning-fg     "#f2777a"

set highlight-color             "#ffcc66"
set highlight-active-color      "#6699cc"

set completion-bg               "#393939"
set completion-fg               "#6699cc"

set completion-highlight-fg     "#f2f0ec"
set completion-highlight-bg     "#6699cc"

set recolor-lightcolor          "#2d2d2d"
set recolor-darkcolor           "#e8e6df"

set recolor                     "false"
set recolor-keephue             "false"
