# Base16 Gigavolt
# Author: Aidan Swope (http://github.com/Whillikers)

set default-bg                  "#202126"
set default-fg                  "#2d303d"

set statusbar-fg                "#cad3ff"
set statusbar-bg                "#5a576e"

set inputbar-bg                 "#202126"
set inputbar-fg                 "#f2fbff"

set notification-bg             "#202126"
set notification-fg             "#f2fbff"

set notification-error-bg       "#202126"
set notification-error-fg       "#ff661a"

set notification-warning-bg     "#202126"
set notification-warning-fg     "#ff661a"

set highlight-color             "#ffdc2d"
set highlight-active-color      "#40bfff"

set completion-bg               "#2d303d"
set completion-fg               "#40bfff"

set completion-highlight-fg     "#f2fbff"
set completion-highlight-bg     "#40bfff"

set recolor-lightcolor          "#202126"
set recolor-darkcolor           "#eff0f9"

set recolor                     "false"
set recolor-keephue             "false"
