# Base16 Rebecca
# Author: Victor Borja (http://github.com/vic) based on Rebecca Theme (http://github.com/vic/rebecca-theme)

set default-bg                  "#292a44"
set default-fg                  "#663399"

set statusbar-fg                "#a0a0c5"
set statusbar-bg                "#383a62"

set inputbar-bg                 "#292a44"
set inputbar-fg                 "#53495d"

set notification-bg             "#292a44"
set notification-fg             "#53495d"

set notification-error-bg       "#292a44"
set notification-error-fg       "#a0a0c5"

set notification-warning-bg     "#292a44"
set notification-warning-fg     "#a0a0c5"

set highlight-color             "#ae81ff"
set highlight-active-color      "#2de0a7"

set completion-bg               "#663399"
set completion-fg               "#2de0a7"

set completion-highlight-fg     "#53495d"
set completion-highlight-bg     "#2de0a7"

set recolor-lightcolor          "#292a44"
set recolor-darkcolor           "#ccccff"

set recolor                     "false"
set recolor-keephue             "false"
