# Base16 Atelier Forest Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#f1efee"
set default-fg                  "#e6e2e0"

set statusbar-fg                "#766e6b"
set statusbar-bg                "#a8a19f"

set inputbar-bg                 "#f1efee"
set inputbar-fg                 "#1b1918"

set notification-bg             "#f1efee"
set notification-fg             "#1b1918"

set notification-error-bg       "#f1efee"
set notification-error-fg       "#f22c40"

set notification-warning-bg     "#f1efee"
set notification-warning-fg     "#f22c40"

set highlight-color             "#c38418"
set highlight-active-color      "#407ee7"

set completion-bg               "#e6e2e0"
set completion-fg               "#407ee7"

set completion-highlight-fg     "#1b1918"
set completion-highlight-bg     "#407ee7"

set recolor-lightcolor          "#f1efee"
set recolor-darkcolor           "#2c2421"

set recolor                     "false"
set recolor-keephue             "false"
