# Base16 Gruvbox light, medium
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

set default-bg                  "#fbf1c7"
set default-fg                  "#ebdbb2"

set statusbar-fg                "#665c54"
set statusbar-bg                "#d5c4a1"

set inputbar-bg                 "#fbf1c7"
set inputbar-fg                 "#282828"

set notification-bg             "#fbf1c7"
set notification-fg             "#282828"

set notification-error-bg       "#fbf1c7"
set notification-error-fg       "#9d0006"

set notification-warning-bg     "#fbf1c7"
set notification-warning-fg     "#9d0006"

set highlight-color             "#b57614"
set highlight-active-color      "#076678"

set completion-bg               "#ebdbb2"
set completion-fg               "#076678"

set completion-highlight-fg     "#282828"
set completion-highlight-bg     "#076678"

set recolor-lightcolor          "#fbf1c7"
set recolor-darkcolor           "#3c3836"

set recolor                     "false"
set recolor-keephue             "false"
