# Base16 Green Screen
# Author: Chris Kempson (http://chriskempson.com)

set default-bg                  "#001100"
set default-fg                  "#003300"

set statusbar-fg                "#009900"
set statusbar-bg                "#005500"

set inputbar-bg                 "#001100"
set inputbar-fg                 "#00ff00"

set notification-bg             "#001100"
set notification-fg             "#00ff00"

set notification-error-bg       "#001100"
set notification-error-fg       "#007700"

set notification-warning-bg     "#001100"
set notification-warning-fg     "#007700"

set highlight-color             "#007700"
set highlight-active-color      "#009900"

set completion-bg               "#003300"
set completion-fg               "#009900"

set completion-highlight-fg     "#00ff00"
set completion-highlight-bg     "#009900"

set recolor-lightcolor          "#001100"
set recolor-darkcolor           "#00dd00"

set recolor                     "false"
set recolor-keephue             "false"
