# Base16 Gruvbox dark, soft
# Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)

set default-bg                  "#32302f"
set default-fg                  "#3c3836"

set statusbar-fg                "#bdae93"
set statusbar-bg                "#504945"

set inputbar-bg                 "#32302f"
set inputbar-fg                 "#fbf1c7"

set notification-bg             "#32302f"
set notification-fg             "#fbf1c7"

set notification-error-bg       "#32302f"
set notification-error-fg       "#fb4934"

set notification-warning-bg     "#32302f"
set notification-warning-fg     "#fb4934"

set highlight-color             "#fabd2f"
set highlight-active-color      "#83a598"

set completion-bg               "#3c3836"
set completion-fg               "#83a598"

set completion-highlight-fg     "#fbf1c7"
set completion-highlight-bg     "#83a598"

set recolor-lightcolor          "#32302f"
set recolor-darkcolor           "#ebdbb2"

set recolor                     "false"
set recolor-keephue             "false"
