# Base16 Sandcastle
# Author: George Essig (https://github.com/gessig)

set default-bg                  "#282c34"
set default-fg                  "#2c323b"

set statusbar-fg                "#928374"
set statusbar-bg                "#3e4451"

set inputbar-bg                 "#282c34"
set inputbar-fg                 "#fdf4c1"

set notification-bg             "#282c34"
set notification-fg             "#fdf4c1"

set notification-error-bg       "#282c34"
set notification-error-fg       "#83a598"

set notification-warning-bg     "#282c34"
set notification-warning-fg     "#83a598"

set highlight-color             "#a07e3b"
set highlight-active-color      "#83a598"

set completion-bg               "#2c323b"
set completion-fg               "#83a598"

set completion-highlight-fg     "#fdf4c1"
set completion-highlight-bg     "#83a598"

set recolor-lightcolor          "#282c34"
set recolor-darkcolor           "#d5c4a1"

set recolor                     "false"
set recolor-keephue             "false"
