# Base16 Apprentice
# Author: romainl

set default-bg                  "#262626"
set default-fg                  "#303030"

set statusbar-fg                "#787878"
set statusbar-bg                "#333333"

set inputbar-bg                 "#262626"
set inputbar-fg                 "#FFFFFF"

set notification-bg             "#262626"
set notification-fg             "#FFFFFF"

set notification-error-bg       "#262626"
set notification-error-fg       "#5F8787"

set notification-warning-bg     "#262626"
set notification-warning-fg     "#5F8787"

set highlight-color             "#5F8787"
set highlight-active-color      "#FFFFAF"

set completion-bg               "#303030"
set completion-fg               "#FFFFAF"

set completion-highlight-fg     "#FFFFFF"
set completion-highlight-bg     "#FFFFAF"

set recolor-lightcolor          "#262626"
set recolor-darkcolor           "#C9C9C9"

set recolor                     "false"
set recolor-keephue             "false"
