# Base16 Embers
# Author: Jannik Siebert (https://github.com/janniks)

set default-bg                  "#16130F"
set default-fg                  "#2C2620"

set statusbar-fg                "#8A8075"
set statusbar-bg                "#433B32"

set inputbar-bg                 "#16130F"
set inputbar-fg                 "#DBD6D1"

set notification-bg             "#16130F"
set notification-fg             "#DBD6D1"

set notification-error-bg       "#16130F"
set notification-error-fg       "#826D57"

set notification-warning-bg     "#16130F"
set notification-warning-fg     "#826D57"

set highlight-color             "#6D8257"
set highlight-active-color      "#6D5782"

set completion-bg               "#2C2620"
set completion-fg               "#6D5782"

set completion-highlight-fg     "#DBD6D1"
set completion-highlight-bg     "#6D5782"

set recolor-lightcolor          "#16130F"
set recolor-darkcolor           "#BEB6AE"

set recolor                     "false"
set recolor-keephue             "false"
