# Base16 Tomorrow Night
# Author: Chris Kempson (http://chriskempson.com)

set default-bg                  "#1d1f21"
set default-fg                  "#282a2e"

set statusbar-fg                "#b4b7b4"
set statusbar-bg                "#373b41"

set inputbar-bg                 "#1d1f21"
set inputbar-fg                 "#ffffff"

set notification-bg             "#1d1f21"
set notification-fg             "#ffffff"

set notification-error-bg       "#1d1f21"
set notification-error-fg       "#cc6666"

set notification-warning-bg     "#1d1f21"
set notification-warning-fg     "#cc6666"

set highlight-color             "#f0c674"
set highlight-active-color      "#81a2be"

set completion-bg               "#282a2e"
set completion-fg               "#81a2be"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#81a2be"

set recolor-lightcolor          "#1d1f21"
set recolor-darkcolor           "#e0e0e0"

set recolor                     "false"
set recolor-keephue             "false"
