# Base16 Atelier Lakeside
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#161b1d"
set default-fg                  "#1f292e"

set statusbar-fg                "#7195a8"
set statusbar-bg                "#516d7b"

set inputbar-bg                 "#161b1d"
set inputbar-fg                 "#ebf8ff"

set notification-bg             "#161b1d"
set notification-fg             "#ebf8ff"

set notification-error-bg       "#161b1d"
set notification-error-fg       "#d22d72"

set notification-warning-bg     "#161b1d"
set notification-warning-fg     "#d22d72"

set highlight-color             "#8a8a0f"
set highlight-active-color      "#257fad"

set completion-bg               "#1f292e"
set completion-fg               "#257fad"

set completion-highlight-fg     "#ebf8ff"
set completion-highlight-bg     "#257fad"

set recolor-lightcolor          "#161b1d"
set recolor-darkcolor           "#c1e4f6"

set recolor                     "false"
set recolor-keephue             "false"
