# Base16 Windows 10 Light
# Author: Fergus Collins (https://github.com/C-Fergus)

set default-bg                  "#f2f2f2"
set default-fg                  "#e5e5e5"

set statusbar-fg                "#ababab"
set statusbar-bg                "#d9d9d9"

set inputbar-bg                 "#f2f2f2"
set inputbar-fg                 "#0c0c0c"

set notification-bg             "#f2f2f2"
set notification-fg             "#0c0c0c"

set notification-error-bg       "#f2f2f2"
set notification-error-fg       "#c50f1f"

set notification-warning-bg     "#f2f2f2"
set notification-warning-fg     "#c50f1f"

set highlight-color             "#c19c00"
set highlight-active-color      "#0037da"

set completion-bg               "#e5e5e5"
set completion-fg               "#0037da"

set completion-highlight-fg     "#0c0c0c"
set completion-highlight-bg     "#0037da"

set recolor-lightcolor          "#f2f2f2"
set recolor-darkcolor           "#414141"

set recolor                     "false"
set recolor-keephue             "false"
