# Base16 Atelier Seaside Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#f4fbf4"
set default-fg                  "#cfe8cf"

set statusbar-fg                "#687d68"
set statusbar-bg                "#8ca68c"

set inputbar-bg                 "#f4fbf4"
set inputbar-fg                 "#131513"

set notification-bg             "#f4fbf4"
set notification-fg             "#131513"

set notification-error-bg       "#f4fbf4"
set notification-error-fg       "#e6193c"

set notification-warning-bg     "#f4fbf4"
set notification-warning-fg     "#e6193c"

set highlight-color             "#98981b"
set highlight-active-color      "#3d62f5"

set completion-bg               "#cfe8cf"
set completion-fg               "#3d62f5"

set completion-highlight-fg     "#131513"
set completion-highlight-bg     "#3d62f5"

set recolor-lightcolor          "#f4fbf4"
set recolor-darkcolor           "#242924"

set recolor                     "false"
set recolor-keephue             "false"
