# Base16 Summerfruit Dark
# Author: Christopher Corley (http://christop.club/)

set default-bg                  "#151515"
set default-fg                  "#202020"

set statusbar-fg                "#B0B0B0"
set statusbar-bg                "#303030"

set inputbar-bg                 "#151515"
set inputbar-fg                 "#FFFFFF"

set notification-bg             "#151515"
set notification-fg             "#FFFFFF"

set notification-error-bg       "#151515"
set notification-error-fg       "#FF0086"

set notification-warning-bg     "#151515"
set notification-warning-fg     "#FF0086"

set highlight-color             "#ABA800"
set highlight-active-color      "#3777E6"

set completion-bg               "#202020"
set completion-fg               "#3777E6"

set completion-highlight-fg     "#FFFFFF"
set completion-highlight-bg     "#3777E6"

set recolor-lightcolor          "#151515"
set recolor-darkcolor           "#E0E0E0"

set recolor                     "false"
set recolor-keephue             "false"
