# Base16 Porple
# Author: Niek den Breeje (https://github.com/AuditeMarlow)

set default-bg                  "#292c36"
set default-fg                  "#333344"

set statusbar-fg                "#b8b8b8"
set statusbar-bg                "#474160"

set inputbar-bg                 "#292c36"
set inputbar-fg                 "#f8f8f8"

set notification-bg             "#292c36"
set notification-fg             "#f8f8f8"

set notification-error-bg       "#292c36"
set notification-error-fg       "#f84547"

set notification-warning-bg     "#292c36"
set notification-warning-fg     "#f84547"

set highlight-color             "#efa16b"
set highlight-active-color      "#8485ce"

set completion-bg               "#333344"
set completion-fg               "#8485ce"

set completion-highlight-fg     "#f8f8f8"
set completion-highlight-bg     "#8485ce"

set recolor-lightcolor          "#292c36"
set recolor-darkcolor           "#e8e8e8"

set recolor                     "false"
set recolor-keephue             "false"
