# Base16 Rosé Pine Dawn
# Author: Emilia Dunfelt &lt;sayhi@dunfelt.se&gt;

set default-bg                  "#faf4ed"
set default-fg                  "#fffaf3"

set statusbar-fg                "#6e6a86"
set statusbar-bg                "#f2e9de"

set inputbar-bg                 "#faf4ed"
set inputbar-fg                 "#26233a"

set notification-bg             "#faf4ed"
set notification-fg             "#26233a"

set notification-error-bg       "#faf4ed"
set notification-error-fg       "#1f1d2e"

set notification-warning-bg     "#faf4ed"
set notification-warning-fg     "#1f1d2e"

set highlight-color             "#ea9d34"
set highlight-active-color      "#56949f"

set completion-bg               "#fffaf3"
set completion-fg               "#56949f"

set completion-highlight-fg     "#26233a"
set completion-highlight-bg     "#56949f"

set recolor-lightcolor          "#faf4ed"
set recolor-darkcolor           "#555169"

set recolor                     "false"
set recolor-keephue             "false"
