# Base16 Rosé Pine Moon
# Author: Emilia Dunfelt &lt;sayhi@dunfelt.se&gt;

set default-bg                  "#232136"
set default-fg                  "#2a273f"

set statusbar-fg                "#817c9c"
set statusbar-bg                "#393552"

set inputbar-bg                 "#232136"
set inputbar-fg                 "#d9d7e1"

set notification-bg             "#232136"
set notification-fg             "#d9d7e1"

set notification-error-bg       "#232136"
set notification-error-fg       "#ecebf0"

set notification-warning-bg     "#232136"
set notification-warning-fg     "#ecebf0"

set highlight-color             "#f6c177"
set highlight-active-color      "#9ccfd8"

set completion-bg               "#2a273f"
set completion-fg               "#9ccfd8"

set completion-highlight-fg     "#d9d7e1"
set completion-highlight-bg     "#9ccfd8"

set recolor-lightcolor          "#232136"
set recolor-darkcolor           "#f5f5f7"

set recolor                     "false"
set recolor-keephue             "false"
