# Base16 Circus
# Author: Stephan Boyer (https://github.com/stepchowfun) and Esther Wang (https://github.com/ewang12)

set default-bg                  "#191919"
set default-fg                  "#202020"

set statusbar-fg                "#505050"
set statusbar-bg                "#303030"

set inputbar-bg                 "#191919"
set inputbar-fg                 "#ffffff"

set notification-bg             "#191919"
set notification-fg             "#ffffff"

set notification-error-bg       "#191919"
set notification-error-fg       "#dc657d"

set notification-warning-bg     "#191919"
set notification-warning-fg     "#dc657d"

set highlight-color             "#c3ba63"
set highlight-active-color      "#639ee4"

set completion-bg               "#202020"
set completion-fg               "#639ee4"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#639ee4"

set recolor-lightcolor          "#191919"
set recolor-darkcolor           "#808080"

set recolor                     "false"
set recolor-keephue             "false"
