# Base16 darkmoss
# Author: Gabriel Avanzi (https://github.com/avanzzzi)

set default-bg                  "#171e1f"
set default-fg                  "#252c2d"

set statusbar-fg                "#818f80"
set statusbar-bg                "#373c3d"

set inputbar-bg                 "#171e1f"
set inputbar-fg                 "#e1eaef"

set notification-bg             "#171e1f"
set notification-fg             "#e1eaef"

set notification-error-bg       "#171e1f"
set notification-error-fg       "#ff4658"

set notification-warning-bg     "#171e1f"
set notification-warning-fg     "#ff4658"

set highlight-color             "#fdb11f"
set highlight-active-color      "#498091"

set completion-bg               "#252c2d"
set completion-fg               "#498091"

set completion-highlight-fg     "#e1eaef"
set completion-highlight-bg     "#498091"

set recolor-lightcolor          "#171e1f"
set recolor-darkcolor           "#e3e3c8"

set recolor                     "false"
set recolor-keephue             "false"
