# Base16 Github
# Author: Defman21

set default-bg                  "#ffffff"
set default-fg                  "#f5f5f5"

set statusbar-fg                "#e8e8e8"
set statusbar-bg                "#c8c8fa"

set inputbar-bg                 "#ffffff"
set inputbar-fg                 "#ffffff"

set notification-bg             "#ffffff"
set notification-fg             "#ffffff"

set notification-error-bg       "#ffffff"
set notification-error-fg       "#ed6a43"

set notification-warning-bg     "#ffffff"
set notification-warning-fg     "#ed6a43"

set highlight-color             "#795da3"
set highlight-active-color      "#795da3"

set completion-bg               "#f5f5f5"
set completion-fg               "#795da3"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#795da3"

set recolor-lightcolor          "#ffffff"
set recolor-darkcolor           "#ffffff"

set recolor                     "false"
set recolor-keephue             "false"
