# Base16 Monokai
# Author: Wimer Hazenberg (http://www.monokai.nl)

set default-bg                  "#272822"
set default-fg                  "#383830"

set statusbar-fg                "#a59f85"
set statusbar-bg                "#49483e"

set inputbar-bg                 "#272822"
set inputbar-fg                 "#f9f8f5"

set notification-bg             "#272822"
set notification-fg             "#f9f8f5"

set notification-error-bg       "#272822"
set notification-error-fg       "#f92672"

set notification-warning-bg     "#272822"
set notification-warning-fg     "#f92672"

set highlight-color             "#f4bf75"
set highlight-active-color      "#66d9ef"

set completion-bg               "#383830"
set completion-fg               "#66d9ef"

set completion-highlight-fg     "#f9f8f5"
set completion-highlight-bg     "#66d9ef"

set recolor-lightcolor          "#272822"
set recolor-darkcolor           "#f5f4f1"

set recolor                     "false"
set recolor-keephue             "false"
