# Base16 Synth Midnight Terminal Light
# Author: Michaël Ball (http://github.com/michael-ball/)

set default-bg                  "#dddfe0"
set default-fg                  "#cfd1d2"

set statusbar-fg                "#474849"
set statusbar-bg                "#c1c3c4"

set inputbar-bg                 "#dddfe0"
set inputbar-fg                 "#050608"

set notification-bg             "#dddfe0"
set notification-fg             "#050608"

set notification-error-bg       "#dddfe0"
set notification-error-fg       "#b53b50"

set notification-warning-bg     "#dddfe0"
set notification-warning-fg     "#b53b50"

set highlight-color             "#c9d364"
set highlight-active-color      "#03aeff"

set completion-bg               "#cfd1d2"
set completion-fg               "#03aeff"

set completion-highlight-fg     "#050608"
set completion-highlight-bg     "#03aeff"

set recolor-lightcolor          "#dddfe0"
set recolor-darkcolor           "#1a1b1c"

set recolor                     "false"
set recolor-keephue             "false"
