# Base16 Harmonic16 Dark
# Author: Jannik Siebert (https://github.com/janniks)

set default-bg                  "#0b1c2c"
set default-fg                  "#223b54"

set statusbar-fg                "#aabcce"
set statusbar-bg                "#405c79"

set inputbar-bg                 "#0b1c2c"
set inputbar-fg                 "#f7f9fb"

set notification-bg             "#0b1c2c"
set notification-fg             "#f7f9fb"

set notification-error-bg       "#0b1c2c"
set notification-error-fg       "#bf8b56"

set notification-warning-bg     "#0b1c2c"
set notification-warning-fg     "#bf8b56"

set highlight-color             "#8bbf56"
set highlight-active-color      "#8b56bf"

set completion-bg               "#223b54"
set completion-fg               "#8b56bf"

set completion-highlight-fg     "#f7f9fb"
set completion-highlight-bg     "#8b56bf"

set recolor-lightcolor          "#0b1c2c"
set recolor-darkcolor           "#e5ebf1"

set recolor                     "false"
set recolor-keephue             "false"
