# Base16 Codeschool
# Author: blockloop

set default-bg                  "#232c31"
set default-fg                  "#1c3657"

set statusbar-fg                "#84898c"
set statusbar-bg                "#2a343a"

set inputbar-bg                 "#232c31"
set inputbar-fg                 "#b5d8f6"

set notification-bg             "#232c31"
set notification-fg             "#b5d8f6"

set notification-error-bg       "#232c31"
set notification-error-fg       "#2a5491"

set notification-warning-bg     "#232c31"
set notification-warning-fg     "#2a5491"

set highlight-color             "#a03b1e"
set highlight-active-color      "#484d79"

set completion-bg               "#1c3657"
set completion-fg               "#484d79"

set completion-highlight-fg     "#b5d8f6"
set completion-highlight-bg     "#484d79"

set recolor-lightcolor          "#232c31"
set recolor-darkcolor           "#a7cfa3"

set recolor                     "false"
set recolor-keephue             "false"
