# Base16 Atelier Sulphurpool Light
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#f5f7ff"
set default-fg                  "#dfe2f1"

set statusbar-fg                "#6b7394"
set statusbar-bg                "#979db4"

set inputbar-bg                 "#f5f7ff"
set inputbar-fg                 "#202746"

set notification-bg             "#f5f7ff"
set notification-fg             "#202746"

set notification-error-bg       "#f5f7ff"
set notification-error-fg       "#c94922"

set notification-warning-bg     "#f5f7ff"
set notification-warning-fg     "#c94922"

set highlight-color             "#c08b30"
set highlight-active-color      "#3d8fd1"

set completion-bg               "#dfe2f1"
set completion-fg               "#3d8fd1"

set completion-highlight-fg     "#202746"
set completion-highlight-bg     "#3d8fd1"

set recolor-lightcolor          "#f5f7ff"
set recolor-darkcolor           "#293256"

set recolor                     "false"
set recolor-keephue             "false"
