# Base16 Atelier Estuary
# Author: Bram de Haan (http://atelierbramdehaan.nl)

set default-bg                  "#22221b"
set default-fg                  "#302f27"

set statusbar-fg                "#878573"
set statusbar-bg                "#5f5e4e"

set inputbar-bg                 "#22221b"
set inputbar-fg                 "#f4f3ec"

set notification-bg             "#22221b"
set notification-fg             "#f4f3ec"

set notification-error-bg       "#22221b"
set notification-error-fg       "#ba6236"

set notification-warning-bg     "#22221b"
set notification-warning-fg     "#ba6236"

set highlight-color             "#a5980d"
set highlight-active-color      "#36a166"

set completion-bg               "#302f27"
set completion-fg               "#36a166"

set completion-highlight-fg     "#f4f3ec"
set completion-highlight-bg     "#36a166"

set recolor-lightcolor          "#22221b"
set recolor-darkcolor           "#e7e6df"

set recolor                     "false"
set recolor-keephue             "false"
