# Base16 Synth Midnight Terminal Dark
# Author: Michaël Ball (http://github.com/michael-ball/)

set default-bg                  "#050608"
set default-fg                  "#1a1b1c"

set statusbar-fg                "#a3a5a6"
set statusbar-bg                "#28292a"

set inputbar-bg                 "#050608"
set inputbar-fg                 "#dddfe0"

set notification-bg             "#050608"
set notification-fg             "#dddfe0"

set notification-error-bg       "#050608"
set notification-error-fg       "#b53b50"

set notification-warning-bg     "#050608"
set notification-warning-fg     "#b53b50"

set highlight-color             "#c9d364"
set highlight-active-color      "#03aeff"

set completion-bg               "#1a1b1c"
set completion-fg               "#03aeff"

set completion-highlight-fg     "#dddfe0"
set completion-highlight-bg     "#03aeff"

set recolor-lightcolor          "#050608"
set recolor-darkcolor           "#cfd1d2"

set recolor                     "false"
set recolor-keephue             "false"
