# Base16 Windows 95 Light
# Author: Fergus Collins (https://github.com/C-Fergus)

set default-bg                  "#fcfcfc"
set default-fg                  "#e0e0e0"

set statusbar-fg                "#7e7e7e"
set statusbar-bg                "#c4c4c4"

set inputbar-bg                 "#fcfcfc"
set inputbar-fg                 "#000000"

set notification-bg             "#fcfcfc"
set notification-fg             "#000000"

set notification-error-bg       "#fcfcfc"
set notification-error-fg       "#a80000"

set notification-warning-bg     "#fcfcfc"
set notification-warning-fg     "#a80000"

set highlight-color             "#a85400"
set highlight-active-color      "#0000a8"

set completion-bg               "#e0e0e0"
set completion-fg               "#0000a8"

set completion-highlight-fg     "#000000"
set completion-highlight-bg     "#0000a8"

set recolor-lightcolor          "#fcfcfc"
set recolor-darkcolor           "#2a2a2a"

set recolor                     "false"
set recolor-keephue             "false"
