# Base16 Marrakesh
# Author: Alexandre Gavioli (http://github.com/Alexx2/)

set default-bg                  "#201602"
set default-fg                  "#302e00"

set statusbar-fg                "#86813b"
set statusbar-bg                "#5f5b17"

set inputbar-bg                 "#201602"
set inputbar-fg                 "#faf0a5"

set notification-bg             "#201602"
set notification-fg             "#faf0a5"

set notification-error-bg       "#201602"
set notification-error-fg       "#c35359"

set notification-warning-bg     "#201602"
set notification-warning-fg     "#c35359"

set highlight-color             "#a88339"
set highlight-active-color      "#477ca1"

set completion-bg               "#302e00"
set completion-fg               "#477ca1"

set completion-highlight-fg     "#faf0a5"
set completion-highlight-bg     "#477ca1"

set recolor-lightcolor          "#201602"
set recolor-darkcolor           "#ccc37a"

set recolor                     "false"
set recolor-keephue             "false"
