# Base16 Zenburn
# Author: elnawe

set default-bg                  "#383838"
set default-fg                  "#404040"

set statusbar-fg                "#808080"
set statusbar-bg                "#606060"

set inputbar-bg                 "#383838"
set inputbar-fg                 "#ffffff"

set notification-bg             "#383838"
set notification-fg             "#ffffff"

set notification-error-bg       "#383838"
set notification-error-fg       "#dca3a3"

set notification-warning-bg     "#383838"
set notification-warning-fg     "#dca3a3"

set highlight-color             "#e0cf9f"
set highlight-active-color      "#7cb8bb"

set completion-bg               "#404040"
set completion-fg               "#7cb8bb"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#7cb8bb"

set recolor-lightcolor          "#383838"
set recolor-darkcolor           "#c0c0c0"

set recolor                     "false"
set recolor-keephue             "false"
