# Base16 Google Light
# Author: Seth Wright (http://sethawright.com)

set default-bg                  "#ffffff"
set default-fg                  "#e0e0e0"

set statusbar-fg                "#969896"
set statusbar-bg                "#c5c8c6"

set inputbar-bg                 "#ffffff"
set inputbar-fg                 "#1d1f21"

set notification-bg             "#ffffff"
set notification-fg             "#1d1f21"

set notification-error-bg       "#ffffff"
set notification-error-fg       "#CC342B"

set notification-warning-bg     "#ffffff"
set notification-warning-fg     "#CC342B"

set highlight-color             "#FBA922"
set highlight-active-color      "#3971ED"

set completion-bg               "#e0e0e0"
set completion-fg               "#3971ED"

set completion-highlight-fg     "#1d1f21"
set completion-highlight-bg     "#3971ED"

set recolor-lightcolor          "#ffffff"
set recolor-darkcolor           "#282a2e"

set recolor                     "false"
set recolor-keephue             "false"
