# Base16 Grayscale Light
# Author: Alexandre Gavioli (https://github.com/Alexx2/)

set default-bg                  "#f7f7f7"
set default-fg                  "#e3e3e3"

set statusbar-fg                "#525252"
set statusbar-bg                "#b9b9b9"

set inputbar-bg                 "#f7f7f7"
set inputbar-fg                 "#101010"

set notification-bg             "#f7f7f7"
set notification-fg             "#101010"

set notification-error-bg       "#f7f7f7"
set notification-error-fg       "#7c7c7c"

set notification-warning-bg     "#f7f7f7"
set notification-warning-fg     "#7c7c7c"

set highlight-color             "#a0a0a0"
set highlight-active-color      "#686868"

set completion-bg               "#e3e3e3"
set completion-fg               "#686868"

set completion-highlight-fg     "#101010"
set completion-highlight-bg     "#686868"

set recolor-lightcolor          "#f7f7f7"
set recolor-darkcolor           "#252525"

set recolor                     "false"
set recolor-keephue             "false"
