# Base16 Decaf
# Author: Alex Mirrington (https://github.com/alexmirrington)

set default-bg                  "#2d2d2d"
set default-fg                  "#393939"

set statusbar-fg                "#b4b7b4"
set statusbar-bg                "#515151"

set inputbar-bg                 "#2d2d2d"
set inputbar-fg                 "#ffffff"

set notification-bg             "#2d2d2d"
set notification-fg             "#ffffff"

set notification-error-bg       "#2d2d2d"
set notification-error-fg       "#ff7f7b"

set notification-warning-bg     "#2d2d2d"
set notification-warning-fg     "#ff7f7b"

set highlight-color             "#ffd67c"
set highlight-active-color      "#90bee1"

set completion-bg               "#393939"
set completion-fg               "#90bee1"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#90bee1"

set recolor-lightcolor          "#2d2d2d"
set recolor-darkcolor           "#e0e0e0"

set recolor                     "false"
set recolor-keephue             "false"
