# Base16 PaperColor Light
# Author: Jon Leopard (http://github.com/jonleopard) based on PaperColor Theme (https://github.com/NLKNguyen/papercolor-theme)

set default-bg                  "#eeeeee"
set default-fg                  "#af0000"

set statusbar-fg                "#0087af"
set statusbar-bg                "#008700"

set inputbar-bg                 "#eeeeee"
set inputbar-fg                 "#878787"

set notification-bg             "#eeeeee"
set notification-fg             "#878787"

set notification-error-bg       "#eeeeee"
set notification-error-fg       "#bcbcbc"

set notification-warning-bg     "#eeeeee"
set notification-warning-fg     "#bcbcbc"

set highlight-color             "#d70087"
set highlight-active-color      "#d75f00"

set completion-bg               "#af0000"
set completion-fg               "#d75f00"

set completion-highlight-fg     "#878787"
set completion-highlight-bg     "#d75f00"

set recolor-lightcolor          "#eeeeee"
set recolor-darkcolor           "#005f87"

set recolor                     "false"
set recolor-keephue             "false"
