# Base16 Fruit Soda
# Author: jozip

set default-bg                  "#f1ecf1"
set default-fg                  "#e0dee0"

set statusbar-fg                "#979598"
set statusbar-bg                "#d8d5d5"

set inputbar-bg                 "#f1ecf1"
set inputbar-fg                 "#2d2c2c"

set notification-bg             "#f1ecf1"
set notification-fg             "#2d2c2c"

set notification-error-bg       "#f1ecf1"
set notification-error-fg       "#fe3e31"

set notification-warning-bg     "#f1ecf1"
set notification-warning-fg     "#fe3e31"

set highlight-color             "#f7e203"
set highlight-active-color      "#2931df"

set completion-bg               "#e0dee0"
set completion-fg               "#2931df"

set completion-highlight-fg     "#2d2c2c"
set completion-highlight-bg     "#2931df"

set recolor-lightcolor          "#f1ecf1"
set recolor-darkcolor           "#474545"

set recolor                     "false"
set recolor-keephue             "false"
