# Base16 XCode Dusk
# Author: Elsa Gonsiorowski (https://github.com/gonsie)

set default-bg                  "#282B35"
set default-fg                  "#3D4048"

set statusbar-fg                "#7E8086"
set statusbar-bg                "#53555D"

set inputbar-bg                 "#282B35"
set inputbar-fg                 "#BEBFC2"

set notification-bg             "#282B35"
set notification-fg             "#BEBFC2"

set notification-error-bg       "#282B35"
set notification-error-fg       "#B21889"

set notification-warning-bg     "#282B35"
set notification-warning-fg     "#B21889"

set highlight-color             "#438288"
set highlight-active-color      "#790EAD"

set completion-bg               "#3D4048"
set completion-fg               "#790EAD"

set completion-highlight-fg     "#BEBFC2"
set completion-highlight-bg     "#790EAD"

set recolor-lightcolor          "#282B35"
set recolor-darkcolor           "#A9AAAE"

set recolor                     "false"
set recolor-keephue             "false"
