# Base16 3024
# Author: Jan T. Sott (http://github.com/idleberg)

set default-bg                  "#090300"
set default-fg                  "#3a3432"

set statusbar-fg                "#807d7c"
set statusbar-bg                "#4a4543"

set inputbar-bg                 "#090300"
set inputbar-fg                 "#f7f7f7"

set notification-bg             "#090300"
set notification-fg             "#f7f7f7"

set notification-error-bg       "#090300"
set notification-error-fg       "#db2d20"

set notification-warning-bg     "#090300"
set notification-warning-fg     "#db2d20"

set highlight-color             "#fded02"
set highlight-active-color      "#01a0e4"

set completion-bg               "#3a3432"
set completion-fg               "#01a0e4"

set completion-highlight-fg     "#f7f7f7"
set completion-highlight-bg     "#01a0e4"

set recolor-lightcolor          "#090300"
set recolor-darkcolor           "#d6d5d4"

set recolor                     "false"
set recolor-keephue             "false"
