# Base16 Harmonic16 Light
# Author: Jannik Siebert (https://github.com/janniks)

set default-bg                  "#f7f9fb"
set default-fg                  "#e5ebf1"

set statusbar-fg                "#627e99"
set statusbar-bg                "#cbd6e2"

set inputbar-bg                 "#f7f9fb"
set inputbar-fg                 "#0b1c2c"

set notification-bg             "#f7f9fb"
set notification-fg             "#0b1c2c"

set notification-error-bg       "#f7f9fb"
set notification-error-fg       "#bf8b56"

set notification-warning-bg     "#f7f9fb"
set notification-warning-fg     "#bf8b56"

set highlight-color             "#8bbf56"
set highlight-active-color      "#8b56bf"

set completion-bg               "#e5ebf1"
set completion-fg               "#8b56bf"

set completion-highlight-fg     "#0b1c2c"
set completion-highlight-bg     "#8b56bf"

set recolor-lightcolor          "#f7f9fb"
set recolor-darkcolor           "#223b54"

set recolor                     "false"
set recolor-keephue             "false"
