# Base16 Edge Dark
# Author: cjayross (https://github.com/cjayross)

set default-bg                  "#262729"
set default-fg                  "#88909f"

set statusbar-fg                "#73b3e7"
set statusbar-bg                "#b7bec9"

set inputbar-bg                 "#262729"
set inputbar-fg                 "#3e4249"

set notification-bg             "#262729"
set notification-fg             "#3e4249"

set notification-error-bg       "#262729"
set notification-error-fg       "#e77171"

set notification-warning-bg     "#262729"
set notification-warning-fg     "#e77171"

set highlight-color             "#dbb774"
set highlight-active-color      "#73b3e7"

set completion-bg               "#88909f"
set completion-fg               "#73b3e7"

set completion-highlight-fg     "#3e4249"
set completion-highlight-bg     "#73b3e7"

set recolor-lightcolor          "#262729"
set recolor-darkcolor           "#d390e7"

set recolor                     "false"
set recolor-keephue             "false"
