# Base16 Equilibrium Light
# Author: Carlo Abelli

set default-bg                  "#f5f0e7"
set default-fg                  "#e7e2d9"

set statusbar-fg                "#5a5f66"
set statusbar-bg                "#d8d4cb"

set inputbar-bg                 "#f5f0e7"
set inputbar-fg                 "#181c22"

set notification-bg             "#f5f0e7"
set notification-fg             "#181c22"

set notification-error-bg       "#f5f0e7"
set notification-error-fg       "#d02023"

set notification-warning-bg     "#f5f0e7"
set notification-warning-fg     "#d02023"

set highlight-color             "#9d6f00"
set highlight-active-color      "#0073b5"

set completion-bg               "#e7e2d9"
set completion-fg               "#0073b5"

set completion-highlight-fg     "#181c22"
set completion-highlight-bg     "#0073b5"

set recolor-lightcolor          "#f5f0e7"
set recolor-darkcolor           "#2c3138"

set recolor                     "false"
set recolor-keephue             "false"
