# Base16 Material Vivid
# Author: joshyrobot

set default-bg                  "#202124"
set default-fg                  "#27292c"

set statusbar-fg                "#676c71"
set statusbar-bg                "#323639"

set inputbar-bg                 "#202124"
set inputbar-fg                 "#ffffff"

set notification-bg             "#202124"
set notification-fg             "#ffffff"

set notification-error-bg       "#202124"
set notification-error-fg       "#f44336"

set notification-warning-bg     "#202124"
set notification-warning-fg     "#f44336"

set highlight-color             "#ffeb3b"
set highlight-active-color      "#2196f3"

set completion-bg               "#27292c"
set completion-fg               "#2196f3"

set completion-highlight-fg     "#ffffff"
set completion-highlight-bg     "#2196f3"

set recolor-lightcolor          "#202124"
set recolor-darkcolor           "#9e9e9e"

set recolor                     "false"
set recolor-keephue             "false"
