# Base16 iA Light
# Author: iA Inc. (modified by aramisgithub)

set default-bg                  "#f6f6f6"
set default-fg                  "#dedede"

set statusbar-fg                "#767676"
set statusbar-bg                "#bde5f2"

set inputbar-bg                 "#f6f6f6"
set inputbar-fg                 "#f8f8f8"

set notification-bg             "#f6f6f6"
set notification-fg             "#f8f8f8"

set notification-error-bg       "#f6f6f6"
set notification-error-fg       "#9c5a02"

set notification-warning-bg     "#f6f6f6"
set notification-warning-fg     "#9c5a02"

set highlight-color             "#c48218"
set highlight-active-color      "#48bac2"

set completion-bg               "#dedede"
set completion-fg               "#48bac2"

set completion-highlight-fg     "#f8f8f8"
set completion-highlight-bg     "#48bac2"

set recolor-lightcolor          "#f6f6f6"
set recolor-darkcolor           "#e8e8e8"

set recolor                     "false"
set recolor-keephue             "false"
