# Base16 Brush Trees
# Author: Abraham White &lt;abelincoln.white@gmail.com&gt;

set default-bg                  "#E3EFEF"
set default-fg                  "#C9DBDC"

set statusbar-fg                "#8299A1"
set statusbar-bg                "#B0C5C8"

set inputbar-bg                 "#E3EFEF"
set inputbar-fg                 "#485867"

set notification-bg             "#E3EFEF"
set notification-fg             "#485867"

set notification-error-bg       "#E3EFEF"
set notification-error-fg       "#b38686"

set notification-warning-bg     "#E3EFEF"
set notification-warning-fg     "#b38686"

set highlight-color             "#aab386"
set highlight-active-color      "#868cb3"

set completion-bg               "#C9DBDC"
set completion-fg               "#868cb3"

set completion-highlight-fg     "#485867"
set completion-highlight-bg     "#868cb3"

set recolor-lightcolor          "#E3EFEF"
set recolor-darkcolor           "#5A6D7A"

set recolor                     "false"
set recolor-keephue             "false"
