# Base16 Darktooth
# Author: Jason Milkins (https://github.com/jasonm23)

set default-bg                  "#1D2021"
set default-fg                  "#32302F"

set statusbar-fg                "#928374"
set statusbar-bg                "#504945"

set inputbar-bg                 "#1D2021"
set inputbar-fg                 "#FDF4C1"

set notification-bg             "#1D2021"
set notification-fg             "#FDF4C1"

set notification-error-bg       "#1D2021"
set notification-error-fg       "#FB543F"

set notification-warning-bg     "#1D2021"
set notification-warning-fg     "#FB543F"

set highlight-color             "#FAC03B"
set highlight-active-color      "#0D6678"

set completion-bg               "#32302F"
set completion-fg               "#0D6678"

set completion-highlight-fg     "#FDF4C1"
set completion-highlight-bg     "#0D6678"

set recolor-lightcolor          "#1D2021"
set recolor-darkcolor           "#D5C4A1"

set recolor                     "false"
set recolor-keephue             "false"
