# Base16 Equilibrium Gray Light
# Author: Carlo Abelli

set default-bg                  "#f1f1f1"
set default-fg                  "#e2e2e2"

set statusbar-fg                "#5e5e5e"
set statusbar-bg                "#d4d4d4"

set inputbar-bg                 "#f1f1f1"
set inputbar-fg                 "#1b1b1b"

set notification-bg             "#f1f1f1"
set notification-fg             "#1b1b1b"

set notification-error-bg       "#f1f1f1"
set notification-error-fg       "#d02023"

set notification-warning-bg     "#f1f1f1"
set notification-warning-fg     "#d02023"

set highlight-color             "#9d6f00"
set highlight-active-color      "#0073b5"

set completion-bg               "#e2e2e2"
set completion-fg               "#0073b5"

set completion-highlight-fg     "#1b1b1b"
set completion-highlight-bg     "#0073b5"

set recolor-lightcolor          "#f1f1f1"
set recolor-darkcolor           "#303030"

set recolor                     "false"
set recolor-keephue             "false"
