# Base16 Grayscale Dark
# Author: Alexandre Gavioli (https://github.com/Alexx2/)

set default-bg                  "#101010"
set default-fg                  "#252525"

set statusbar-fg                "#ababab"
set statusbar-bg                "#464646"

set inputbar-bg                 "#101010"
set inputbar-fg                 "#f7f7f7"

set notification-bg             "#101010"
set notification-fg             "#f7f7f7"

set notification-error-bg       "#101010"
set notification-error-fg       "#7c7c7c"

set notification-warning-bg     "#101010"
set notification-warning-fg     "#7c7c7c"

set highlight-color             "#a0a0a0"
set highlight-active-color      "#686868"

set completion-bg               "#252525"
set completion-fg               "#686868"

set completion-highlight-fg     "#f7f7f7"
set completion-highlight-bg     "#686868"

set recolor-lightcolor          "#101010"
set recolor-darkcolor           "#e3e3e3"

set recolor                     "false"
set recolor-keephue             "false"
